<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/admin/admin-header.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-editArtist.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title>Артист</title>
</head>

<body>
<div class="admin">
    <div class="container">
        <div class="header__top">
            <div class="header__top-logo">
                <a th:href="@{/Admin}"><img th:src="@{/images/admin/logotype.svg}" alt="logotype"></a>
            </div>
            <a class="header__top-logout" th:href="@{/logout}">Выйти из системы</a>
            <a class="header__top-nameAdmin" th:href="@{/}">Пользовательский интерфейс</a>
        </div>
    </div>
    <div class="container">
        <div class="admin__wrapper">
            <header class="header" th:insert="~{admin/components/Admin-Header :: header}"></header>
            <div class="admin__panel">
                <form id="artistForm" th:object="${artist}" th:action="@{/artist/createOrEditArtist}" class="admin__panel-dataArtist"
                      method="post" enctype="multipart/form-data">
                    <div class="dataArtist__wrapper">
                        <div class="dataArtist-img">
                            <label for="file">Изменить фото Артиста</label>
                            <img id="preview"
                                 th:src="${artist != null ? '/uploads/' + artist.filename : '/images/admin/uploads-for-images/cover-for-upload-artist.svg'}"
                                 onerror="this.src='/images/admin/uploads-for-images/cover-for-upload-artist.svg';">
                            <input type="file" id="file" name="file" accept="image/*" onchange="previewFile()">
                        </div>

                        <div class="dataArtist-fields">
                            <input type="hidden" name="artistId" th:if="${artist != null}" th:value="${artist.id}">
                            <input type="text" name="name" placeholder="*Введите имя Артиста"
                                   th:value="${artist != null} ? ${artist.name} : ''">
                            <input type="text" name="listeners" placeholder="Количество слушателей"
                                   th:value="${artist != null} ? ${artist.listeners} : ''">
                            <input type="text" name="liking" placeholder="Количество симпатий"
                                   th:value="${artist != null} ? ${artist.liking} : ''">
                            <input type="text" name="country" placeholder="*Страна Артиста"
                                   th:value="${artist != null} ? ${artist.country} : ''">
                            <input type="text" name="genre" placeholder="*Жанр в котором пишет Артист"
                                   th:value="${artist != null} ? ${artist.genre} : ''">
                            <textarea name="description" placeholder="*Короткое описание/биография"
                                      th:text="${artist != null} ? ${artist.description} : ''"></textarea>
                        </div>
                    </div>
<!--                    <div th:if="${error}" class="error-message">-->
<!--                        <p th:text="${error}"></p>-->
<!--                    </div>-->
                    <button id="submitButton" type="submit" class="button_save">Создать нового артиста</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="alert-delete dn" id="user-data-message"></div>


</body>
<script th:src="@{/js/basic-tools.js}"></script>
<script th:src="@{/js/admin/createFetchObject.js}"></script>

</html>