<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/admin/admin-header.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-editArtist.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title>Артист</title>
</head>

<body>
<div class="admin">
    <div class="container">
        <div class="header__top">
            <div class="header__top-logo">
                <img th:src="@{/images/admin/logotype.svg}">
            </div>
            <a class="header__top-logout" th:href="@{/logout}">Выйти из системы</a>
            <span class="header__top-nameAdmin">Администратор Никитаыыы</span>
        </div>
    </div>
    <div class="container">
        <div class="admin__wrapper">
            <header class="header" th:include="admin/components/Admin-Header :: header"></header>
            <div class="admin__panel">
                <form th:object="${artist}"  th:action="@{/artist/createOrEditArtist}" class="admin__panel-dataArtist" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="artistId" th:value="${artist.id}">
                    <div class="dataArtist__wrapper">
                        <div class="dataArtist-img">
                            <label for="file">Изменить фото Артиста</label>
                            <img id="preview" th:src="@{'/uploads/' + ${artist.filename}}" onerror="this.src='/images/default-download-img.png';">
                            <input type="file" id="file" name="file" accept="image/*" onchange="previewFile()">
                        </div>
                        <div class="dataArtist-fields">
                            <input type="hidden" name="artistId" th:value="${artist.id}">
                            <input type="text" name="name" placeholder="Введите имя Артиста" th:value="${artist.name}">
                            <input type="text" name="listeners" placeholder="Количество слушателей" th:value="${artist.listeners}">
                            <input type="text" name="liking" placeholder="Количество симпатий" th:value="${artist.liking}">
                            <input type="text" name="country" placeholder="Страна Артиста" th:value="${artist.country}">
                            <input type="text" name="genre" placeholder="Жанр в котором пишет Артист" th:value="${artist.genre}">
                            <textarea name="description" placeholder="Короткое описание/биография" th:text="${artist.description}"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="button_save">Создать нового артиста</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script th:src="@{/js/basic-tools.js}"></script>

</html>