<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/admin/admin-header.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-addTrack.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>

    <title>Треки</title>
</head>

<body>
<div class="admin">
    <div class="container">
        <div class="header__top">
            <div class="header__top-logo">
                <a th:href="@{/Admin}">
                    <img th:src="@{/images/admin/logotype.svg}">
                </a>
            </div>
            <a class="header__top-logout" th:href="@{/logout}">Выйти из системы</a>
            <a class="header__top-nameAdmin" th:href="@{/}">Пользовательский интерфейс</a>
        </div>
    </div>
    <div class="container">
        <div class="admin__wrapper">
            <header class="header" th:insert="~{admin/components/Admin-Header :: header}"></header>
            <div class="admin__panel">
                <form action="/alltrack/saveOrUpdate" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value="${track.id}">
                    <input type="hidden" name="artist_id" th:value="${track.artists != null ? track.artists.id : ''}"/>

                    <label for="audioFile" class="audioFile__loading">
                        <input type="file" id="audioFile" name="audio" accept="audio/*" onchange="updateFileName()">
                        <span id="audioFileName"
                              th:text="${track.audiofilename != null ? track.audiofilename : 'Загрузите файл'}"></span>
                    </label>
                    <button id="listenButton" type="button" style="color: #00A542">Прослушать</button>
                    <div class="addTrack__wrapper">
                        <div class="addTrack-left">
                            <div class="addTrack-basicInformation">
                                <div class="addTrack-info">
                                    <h1 class="addTrack-title">Основная информация</h1>
                                    <ul class="basicInformation-inputs">
                                        <li>
                                            <label for="title">Название релиза</label>
                                            <input type="text" id="title" name="title" th:value="${track.title}"
                                                   placeholder="Введите название релиза">
                                        </li>
                                        <li style="height: 81px">
                                            <label for="artistId">Исполнитель</label>
                                            <th:block th:if="${artists.isEmpty()}">
                                                <p style="color: #da2424">Без артистов нельзя сделать трек</p>
                                            </th:block>
                                            <select class="js-select2" id="artistId" name="artist_id">
                                                <option value=""></option>
                                                <th:block th:each="artist : ${artists}">
                                                    <option th:value="${artist.id}" th:text="${artist.name}"
                                                            th:selected="${track.artists != null and track.artists.id == artist.id}"></option>
                                                </th:block>
                                            </select>
                                        </li>
                                        <li>
                                            <label for="label">Название лейбла</label>
                                            <input type="text" id="label" name="label"
                                                   placeholder="Лицензия принадлежности">
                                        </li>
                                    </ul>
                                </div>
                                <div class="addTrack-cover">
                                    <h1 class="addTrack-title">Вставьте обложку релиза</h1>
                                    <div class="cover-img">
                                        <label for="cover">
                                            <img id="preview" th:src="${'/uploads/' + track.coverfilename}" alt="cover"
                                                 onerror="this.src='/images/default-download-img.png';">
                                        </label>
                                        <input type="file" name="cover" id="cover" accept="image/*"
                                               onchange="document.getElementById('preview').src = window.URL.createObjectURL(this.files[0])">
                                    </div>
                                </div>
                            </div>
                            <div class="addTrack-additionalInformation">
                                <h1 class="addTrack-title">Дополнительная информация</h1>
                                <ul class="additionalInformation-inputs">
                                    <li>
                                        <label for="genre">Жанр трека</label>
                                        <input type="text" id="genre" name="genre" th:value="${track.genre}"
                                               placeholder="Введите жанр трека">
                                    </li>
                                    <li>
                                        <label for="year">Год выпуска</label>
                                        <input type="text" id="year" name="releaseyear" th:value="${track.releaseyear}"
                                               placeholder="Введите год выпуска">
                                    </li>
                                </ul>
                            </div>
                            <button type="submit" class="button_save">Загрузить на площадку</button>
                        </div>
                        <div class="addTrack-right">
                            <h1 class="addTrack-title">Напишите текст песни</h1>
                            <div class="addTrack-lyric">
                                <textarea name="lyrics" id="lyrics" placeholder="Введите текст"
                                          th:text="${track.lyrics}"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
</div>

</body>
<script th:src="@{/js/custom-select.js}"></script>
<script th:src="@{/js/custom-file.js}"></script>
<script th:src="@{/js/basic-tools.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script th:src="@{/js/select2CDN.js}"></script>

<script>
    $(document).ready(function () {
        $('.js-select2').select2({
            placeholder: "Выберите артиста",
            maximumSelectionLength: 2,
            language: "ru"
        });

        $('#artistId').change(function () {
            let selectedArtistId = $(this).val();
            $('input[name="artist_id"]').val(selectedArtistId);
        });
    });

    //Пред-прослушивание треков
    document.getElementById('listenButton').addEventListener('click', function () {
        console.log("click");
        let audio = new Audio();
        let audioFile = document.getElementById('audioFile').files[0];

        if (audio.src && !audio.paused) {
            audio.pause();
            audio.currentTime = 0;
        } else if (audioFile) {
            audio.src = URL.createObjectURL(audioFile);
            audio.play();
        } else {
            alert('Пожалуйста, выберите аудиофайл для прослушивания.');
        }
    });


</script>

</html>