<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/admin/admin-header.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-editPhotoAlbum.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title>Фотоальбомы</title>
</head>

<body>
<div class="admin">
    <div class="container">
        <div class="header__top">
            <div class="header__top-logo">
                <img th:src="@{/images/admin/logotype.svg}">
            </div>
            <a class="header__top-logout" th:href="@{/logout}">Выйти из системы</a>
            <span class="header__top-nameAdmin">Администратор Никита</span>
        </div>
    </div>
    <div class="container">
        <div class="admin__wrapper">
            <header class="header" th:include="admin/components/Admin-Header :: header"></header>
            <div class="admin__panel">
                <form th:object="${album}" th:action="@{/artist/{id}/createOrEditAlbum(id = ${artist.id})}" class="edit-photo-album" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}" />
                    <div class="edit-photo-album__cover">
                        <label for="file">Изменить обложку фотоальбома</label>
                        <img id="preview" th:src="${'/uploads/' + album.filename}" onerror="this.src='/images/default-download-img.png';">
                        <input type="file" id="file" name="file" accept="image/*" onchange="previewFile()">
                    </div>

                    <input class="edit-photo-album__title" type="text" name="name" th:value="${album.name}">

                    <div class="edit-photo-album__cityAndYear">
                        <input type="text" name="city" th:value="${album.city}">
                        <input type="number" name="year" th:value="${album.year}">
                    </div>

                    <button class="button_save">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
<script th:src="@{/js/basic-tools.js}"></script>

</html>