<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/admin/admin-header.css}">
    <link rel="stylesheet" th:href="@{/css/news.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-createNews.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title>Новости</title>
</head>

<body>
<div class="admin">
    <div class="container">
        <div class="header__top">
            <div class="header__top-logo">
                <a th:href="@{/Admin}"><img th:src="@{/images/admin/logotype.svg}" alt="logotype"></a>
            </div>
            <a class="header__top-logout" th:href="@{/logout}">Выйти из системы</a>
            <a class="header__top-nameAdmin" th:href="@{/}">Пользовательский интерфейс</a>
        </div>
    </div>
    <div class="container">
        <div class="admin__wrapper">
            <header class="header" th:insert="~{admin/components/Admin-Header :: header}"></header>
            <div class="admin__panel">
                <form th:action="@{/news/save}" method="post" enctype="multipart/form-data">
                    <div th:if="${errorImg}" class="error-message">
                        <p th:text="${errorImg}"></p>
                    </div>
                    <div class="data-news">
                        <div class="news-cover">
                            <label for="file">
                                <img id="preview" th:src="@{/}" alt="plus"
                                     onerror="this.src='/images/admin/uploads-for-images/cover-for-upload-news.svg';">
                            </label>
                            <input type="file" id="file" name="file" accept="image/*" onchange="previewFile()">
                        </div>
                        <div class="news-info">
                            <input type="text" id="title" name="title" required placeholder="Название новости">
                            <textarea id="content" name="content" required
                                      placeholder="Краткое описание новости"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="button_save">Добавить новость</button>
                </form>

                <div class="news__wrapper">
                    <div class="news__block" th:each="news : ${newsList}">
                        <a th:href="@{/news/delete/{id}(id = ${news.id})}" class="delete-test">
                            <img th:src="@{/images/admin/delete.svg}" alt="">
                        </a>
                        <div class="news_titleAndDate">
                            <h2 class="news_title" th:text="${news.title}"></h2>
                            <span class="news_date"
                                  th:text="${#temporals.format(news.date, 'd MMMM', new java.util.Locale('ru'))}"></span>
                        </div>
                        <div class="news_descAndPhoto">
                            <p class="news_description" th:text="${news.content}"></p>
                            <img class="news_photo" th:src="@{'/uploads/' + ${news.getImageNews()}}" alt="news_photo">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="alert-success" id="user-data-message" th:if="${successAdd}" style="left: 35px; right: unset;">
    <h2>Добавлено!</h2>
    <p>Новость была добавлена, можете просмотреть в разделе "Новости"</p>
</div>

<div class="alert-delete" id="user-data-message" th:if="${successDelete}" style="left: 35px; right: unset;">
    <h2>Удалено!</h2>
    <p>Новость была, удалена, возможно это действительно было нужно</p>
</div>


</body>
<script th:src="@{/js/basic-tools.js}"></script>
<script th:src="@{/js/alert.js}"></script>

</html>