<section class="update">
    <div class="container-for-update">
        <div class="update__wrapper">
            <div class="update-info">
                <h1 class="title">Изменения на сайте - Обновление 2.0</h1>
                <a th:href="@{#}">
                    <img th:src="@{/images/close.svg}" alt="close">
                </a>
            </div>
            <ul class="update__list">
                <li>
                    <strong>Раздел Проект переименован в Новости</strong>
                    <p>Раздел приобрёл новое название “Новости” в нем собраны последние обновления и новости данного
                        сайта.
                        Не переживайте тот кто работал с проектом никуда не делся, Разработчики указаны в конце страницы
                        новости.
                        Раздел Новости будет обновляться модератором сайта, вы сможете видеть выходы новых релизов, а
                        также узнать, что изменилось на сайте за последнее время.</p>
                </li>

                <li>
                    <strong>Редизайн подробной страницы Артиста</strong>
                    <p>Страница Артисты и их подробные страницы приобрели новый вид который вы так долго ждали.</p>
                </li>

                <li>
                    <strong>Добавлены фотосеты Артиста, а также теперь работают плейлисты каждого артисты, собранного
                        как
                        самим артистом, так и нашими модераторами.</strong>
                    <p>В связи с этими обновлениями появлены новые страницы - “Похожие - На данного Артиста ”,
                        “Подробная
                        страница Плейлиста”, “Страница ФотоОтчеты”. Имеется возможность подписаться на артиста, и теперь
                        отслеживать количество его подписчиков, лайков, жанра и страны артиста.</p>
                </li>

                <li>
                    <strong>Профиль - Личный кабинет</strong>
                    <p>Представляем к вашему вниманию ваш личный кабинет, где имеется возможность многих новых функций.
                        Например смена языка, или включение плавных переходов между треками а также включение
                        бесконечной
                        волны и потока треков на основе ваших предпочтений. Смотрите и наши новости и новости российских
                        звезд в подразделе Интересное в Своем личном кабинете.</p>
                </li>

                <li>
                    <strong>Подкасты и Книги</strong>
                    <p>Важная часть для нас, и для тех кто любит не читать, а слушать, Новый раздел “Подкасты и Книги”
                        специально для вас. В разделе вас ждут новые бесплатные книги и подкасты, (только для
                        эксклюзивных
                        пользователей), Каждый Подкаст также имеет рейтинг лепесточков имейте ввиду.</p>
                </li>

                <li>
                    <strong>Новые подписки</strong>
                    <p>Представляем новые виды подписки, и абсолютно новые идеи. Подписки - “Эклектик”, “Меломан”,
                        “Слушатель”, “Семья”.</p>
                </li>

                <li>
                    <strong>Семейная подписка расширяет возможности и открывает новые границы. Попробуйте уже
                        сейчас.</strong>
                    <p>*помимо изменена сама страница, карточки подписки, и главная страница подписки, также другие
                        элементы</p>
                </li>

                <li>
                    <strong>Мобильная версия - (урезанная)</strong>
                    <p>Наконец-то мы сделали это друзья и подписчики. Мы реализовали мобильную рабочую версию, но есть
                        одно
                        большое но - версия урезана, в мобилке мы оставили только самое нужное - Все треки, Артисты, и
                        Подкасты с книгами. Поиск будет реализован чуть позже. Такие разделы как Новости, Подписка,
                        Коллекция будут добавлены в следующих обновлениях.</p>
                </li>

                <li>
                    <strong>Удобные переходы</strong>
                    <p>Теперь при нажатии на аву своего аккаунта будет высвечиваться плашечка с переходами на страницу,
                        Мой
                        профиль, Настройки, Подписка, и выход из аккаунта. Это сделано в целях оптимизации и уменьшения
                        давления на глаз пользователя.</p>
                </li>

                <li>
                    <strong>Мелкие изменения </strong>
                    <p>Переделана страница (ФуллСкрин трека) полноэкранный режим выглядит иначе</p>
                </li>

                <li>
                    <strong>Изменены размеры шрифтов на всех страницах</strong>
                    <p>Более удобно была переделана страница “Подписка”</p>
                </li>

                <li>
                    <strong>Изменена шапка сайта - Добавлены разделы Подкасты, вместо настроек и выхода теперь стоит
                        иконка
                        личного кабинета</strong>
                    <p>Переделана главная страница, где пользователь прослушивает треки, из меню убран раздел “Подписка”
                        и
                        перемещен в аватарку пользователя</p>
                </li>
            </ul>

        </div>
    </div>
</section>