<header class="header">
    <div class="container">
        <div class="header__menu-top">
            <a th:href="@{/}"><img th:src="@{/images/header/logotype-update.svg}" alt="лого" class="header_logo"></a>
            <ul class="header__links">
                <li class="header__link"><a th:href="@{/artist/search}">Поиск <img
                        th:src="@{/images/header/search.svg}"></a>
                </li>
                <li class="header__link"><a th:href="@{/}">Все треки <img
                        th:src="@{/images/header/headphones.svg}"></a></li>
                <li class="header__link"><a th:href="@{/podcasts}">Подкасты <img
                        th:src="@{/images/header/podcast.svg}"></a></li>
                <li class="header__link"><a th:href="@{/allartist}">Артисты <img
                        th:src="@{/images/header/artists.svg}"></a></li>
                <li class="header__link"><a th:href="@{/subscribe}">Подписка <img
                        th:src="@{/images/header/subs.svg}"></a>
                </li>
                <li class="header__link"><a th:href="@{/project}">Новости <img
                        th:src="@{/images/header/project.svg}"></a>
                </li>
                <li class="header__link"><a th:href="@{/collection}">Коллекция <img
                        th:src="@{/images/header/like.svg}"></a></li>
            </ul>
            <div class="header_ets">
                <a th:href="@{/settings}" class="header_setting"><img th:src="@{/images/header/setting.svg}" alt="set"></a>
                <a th:href="@{/registration}" class="header_logout"><img th:src="@{/images/header/logout.svg}"
                                                                         alt="log"></a>
            </div>
        </div>
    </div>
</header>