<header>
    <div class="header__left">
        <h1 class="header__title" th:text="${pageTitle}"></h1>
        <ul>
            <li><a th:href="@{/Admin}"><img th:src="@{/images/header/admin.svg}">Статистика</a></li>
            <li><a th:href="@{/Admin-News}"><img th:src="@{/images/admin/news.svg}">Новости</a></li>
            <li><a th:href="@{/Admin-All-Artist}"><img th:src="@{/images/admin/artist.svg}">Артисты</a></li>
            <li><a th:href="@{/Admin-All-Tracks}"><img th:src="@{/images/admin/track.svg}">Воспроизведения</a></li>
            <li><a th:href="@{/logout}"><img th:src="@{/images/admin/podcast.svg}">Подкасты</a></li>
            <li><a th:href="@{/Admin/users}"><img th:src="@{/images/admin/user.svg}">Пользователи</a></li>
        </ul>
    </div>
</header>