<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/admin/admin-header.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title>Админка</title>
</head>

<body>
<header>
    <div class="header__left">
        <h1 class="header__title">Админка</h1>
        <ul>
            <li><a th:href="@{/Admin-News}"><img th:src="@{/images/admin/news.svg}">Новости</a></li>
            <li><a th:href="@{/Admin-All-Artist}"><img th:src="@{/images/admin/artist.svg}">Артисты</a></li>
            <li><a th:href="@{/logout}"><img th:src="@{/images/admin/track.svg}">Воспроизведения</a></li>
            <li><a th:href="@{/logout}"><img th:src="@{/images/admin/podcast.svg}">Подкасты</a></li>
            <li><a th:href="@{/Admin/users}"><img th:src="@{/images/admin/user.svg}">Пользователи</a></li>
        </ul>
    </div>
</header>


</body>

</html>