.editing-tools {
    padding: 30px;
    position: absolute;
    display: flex;
    gap: 12px;
    z-index: 5;
    right: 0;
}

.admin-tools-add-album {
    position: relative;
    width: 545px;
    height: 280px;
    border-radius: 10px;
    border: 1px dashed var(--white);
    background: transparent;
    transition: all .3s;
}

.Artist__info-playlist-add a,
.admin-tools-add-album a {
    display: block;
    width: 100%;
    height: 100%;
}

.Artist__info-playlist-add:hover,
.admin-tools-add-album:hover {
    background: #1A1A1A;
}

.Artist__info-playlist-add a svg,
.admin-tools-add-album a svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin__panel-dataArtist {

}

.dataArtist__wrapper {
    display: flex;
    align-items: flex-start;
    gap: 13px;

}

.dataArtist-img {
    position: relative;
}

.dataArtist-img input {
    display: none;
}
.dataArtist-img label {
    padding: 10px 30px;
    color: var(--white);
    font-family: Nunito, serif;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    border-radius: 50px;
    border: 1px solid #5B5B5B;
    background: rgba(248, 248, 248, 0.07);
    backdrop-filter: blur(15px);
    cursor: pointer;
    transition: all .3s;
    position: absolute;
    bottom: 7.6%;
    left: 50%;
    transform: translateX(-50%);
}

.dataArtist-img label:hover {
    backdrop-filter: blur(1px);;
}

.dataArtist-img img{
    border-radius: 20px;
    width: 616px;
    height: 616px;
    object-fit: cover;
}

.dataArtist-fields {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.dataArtist-fields input,
.dataArtist-fields textarea {
    padding: 17px 30px;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    border-radius: 13px;
    background: #1A1A1A;
    outline: none;
    border: 1px solid transparent;
    resize: none;
    transition: all .3s;
}

.dataArtist-fields textarea {
    height: 252px
}

.dataArtist-img,
.dataArtist-fields {
    max-height: 616px;
    max-width: 616px;
    width: 100%;
}

.button_save {
    margin-top: 15px;
}

.error-message {
    border: 1px solid #ed5858;
    padding: 7px;
    text-align: center;
    border-radius: 60px;
    background: #ed585821;
    margin: 10px;
    font-size: 17px;
}

.Artist__info-playlist-add {
    position: relative;
    width: 223px;
    height: 223px;
    border-radius: 10px;
    border: 1px dashed var(--white);
    background: transparent;
    transition: all .3s;
}