body {
    height: unset !important;
}

.header__top {
    margin: 50px auto 35px;
    display: flex;
    align-items: center;
}

.header__top-logo {
    width: 162px;
    height: 58px;
    flex: 1;
}

.header__top-logo img {
    object-fit: cover;
}

.header__top-logout {
    position: relative;
    padding-left: 37px;
}

.header__top-logout::before {
    display: block;
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: url("/images/admin/logout.svg") no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -75px;
}

.header__top-nameAdmin {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.header__top-nameAdmin:before {
    display: block;
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    background: url("/images/admin/monitor.svg") no-repeat;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
}

.header__top-logout-onServie,
.header__top-logout,
.header__top-nameAdmin {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.header__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    margin-top: 50px;
}

.header__title {
    color: var(--white);
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
}

.header__left ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.header__left ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    color: var(--white);
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    transition: all .2s;
    padding: 16px;
    border-radius: 13px;
}

.header__left ul li a:hover {
    padding: 16px;
    border: transparent;
    background: var(--black-layer);
    border-radius: 13px;
    width: 100%;
}

.header__left ul li a:active {
    transform: scale(.98);
}

.header__left ul li a img {
    width: 28px;
    height: 28px;
}

.admin__wrapper {
    display: flex;
    justify-content: space-between;
}

.admin__panel {
    max-width: 1255px;
    width: 100%;
}

.admin-add {
    position: fixed;
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    padding-left: 47px;
    bottom: 95px;
}

.admin-add:before {
    position: absolute;
    content: "";
    background: url("../../images/admin/plus.svg");
    top: 50%;
    left: -3px;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
}

.button_save {
    width: 100%;
    padding: 21px 30px;
    border-radius: 13px;
    background: var(--feolet);
    color: var(--white);
    font-family: Nunito, serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 140%;
    transition: all .3s;
}

.button_save:hover {
    background: #392CBB;
}













