.form-add-photosToAlbum {
    display: flex;
    gap: 10px;
    align-items: center;
}

.album-title-addPhotos-icon {
    padding: 11px;
    border: 1px solid #686868;
    border-radius: 8px;
    background: rgba(81, 81, 81, 0.50);
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
    transition: all .3s;
}


.album-title-addPhotos-icon input {
    display: none;
}

#fileNameOrCount {
    display: contents;
    color: var(--white);
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
}

.album-title-addPhotos {
    color: var(--white);
    font-family: Nunito, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    border: 1px solid #686868;
    background: rgba(81, 81, 81, 0.50);
    padding: 10px 28px;
    transition: all .3s;
}

.album-title-addPhotos-icon:active,
.album-title-addPhotos:active {
    transform: scale(.98);
}

.album-title-addPhotos-icon:hover,
.album-title-addPhotos:hover {
    background: rgb(112 112 112 / 50%);
}

.album__photo--add {
    position: relative;
    width: 545px;
    height: 385px;
    border: 1px dashed var(--gray);
    border-radius: 15px;
}

.icon-uploads-file {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
}

.icon-uploads-file:hover {
    background: #1A1A1A;
}

.icon-uploads-file svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.icon-uploads-file input {
    display: none;
}

.album__photo a svg {
    position: absolute;
    bottom: 20px;
    right: 20px;
}