.wrapper {
    position: relative;
    height: 100%;
}

.Artist_ava {
    top: -50px;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.Artist_ava-wrapper {
    position: relative;

}

.Artist__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Artist-top-block {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.Artist__wrapper-top {
    position: relative;
}

.Artist_ava-wrapper::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.80) 99.94%);
    z-index: -1;
}

.Artist-name {
    color: var(--white-text);
    font-family: Nunito, serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 1405px;
    overflow: hidden;
    display: block;
}

.Artist__info-bio {
    color: var(--white-text);
    max-width: 830px;
    height: 200px;
    font-size: 18px;
    line-height: 150%;
    overflow: overlay;
    text-overflow: ellipsis;
    scrollbar-width: none;
    mask-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 102.1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 2.5), rgba(0, 0, 0, 0.2));
}

.Artist__btns {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Artist__btns-subs {
    border-radius: 13px;
    border: 1px solid #686868;
    background: rgba(81, 81, 81, 0.50);
    padding: 18px 45px;

    color: var(--white-text);
    font-family: Nunito, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

    transition: all .2s;
}

.Artist__btns-subs:hover {
    background: rgba(81, 81, 81, 0.750);
}


.Artist__btns-unsubs {
    border-radius: 13px;
    border: 1px solid #686868;
    background: rgba(81, 81, 81, 0.50);
    padding: 18px 45px;

    color: #9d9d9d;
    font-family: Nunito, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: all .2s;
}

.Artist__btns-similar {
    color: var(--white-text);
    font-family: Nunito, serif;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 45px;
    border-radius: 13px;
    line-height: normal;
    background: linear-gradient(90deg, #3426c6 8.57%, #5a29c2 41.64%, #ad1370 106.26%);
    transition: all .2s;
}

.Artist__btns-subs:active,
.Artist__btns-unsubs:active,
.Artist__btns-similar:active {
    transform: scale(.97);
}

.Artist__info-social {
    display: flex;
    align-items: center;
    gap: 5px;
}

.Artist__info-social a img {
    width: 47px;
}

.statistics-wrapper {
    width: 100%;
    margin-top: 75px;
}

.statistics-title {
    color: var(--white-text);
    font-family: Nunito, serif;
    font-size: 28px;
    font-weight: 500;
}

.statistics-blocks {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 97px;
    justify-content: space-between;
    max-width: 1680px;
    margin-bottom: 42px;
}

.statistics-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.statistics-block-data {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.statistics-block span {
    color: var(--grayNotEdit);
    font-family: Nunito, serif;
    font-size: 21px;
    font-weight: 400;
    line-height: normal;
}

.statistics__card-main {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    color: var(--white-text);
    font-family: Nunito, serif;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
}

.Artist__info-title {
    color: var(--white);
    font-family: Nunito, serif;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

.Artist__info-playlists {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    margin-top: 40px;
}

.Artist__info-playlist h3 {
    margin: 18px;
    color: var(--white-text);
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    z-index: 1;
    width: 191px;
    overflow-wrap: break-word;
    max-height: 100px;
    overflow: hidden;
}

.Artist__info-playlist img {
    width: 223px;
    height: 223px;
    border-radius: 7px;
    position: relative;
    object-fit: cover;
}

.Artist__info-block {
    margin-top: 85px;
}

.Artist__info-sets {
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.Artist__info-sets-wrapper {
    border: 1px solid transparent;
    border-radius: 7px;
    position: relative;
    transition: all .2s;
}

.set-wrapper-playlist:hover {
    border: 1px solid var(--feolet);
}

.set-wrapper-album {
    border: 1px solid transparent;
    height: 282px;
    border-radius: 13px;
}

.set-wrapper-album:hover {
    border: 1px solid #292929;
}

.Artist__info-set {
    position: relative;
    display: contents;
}

.set-cover img {
    border-radius: 13px;
    width: 546px;
    height: 280px;
    object-fit: cover;
}

.set-date,
.set-title {
    color: var(--white-text);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.set-date {
    position: absolute;
    top: 0;
    padding: 30px;
}

.set-info {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    align-items: flex-end;
}

.set-city {
    color: var(--white-text);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.Artist__info-title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Artist__info-title-block a {
    opacity: 0.8;
    font-size: 17px;
    font-weight: 200;
    transition: .2s;
}

.Artist__info-title-block a:hover {
    opacity: 1;
}

.Artist__info-tracks {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
    margin-top: 40px;

}

.Artist__info-tracks li {
    position: relative;
    padding: 10px 10px 13px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all .2s;
    background: var(--black-layer);
    max-width: 230px;
    max-height: 277px;
}

.Artist__info-tracks li:hover {
    border: 1px solid #393939;
}

.Artist__info-tracks li:active {
    transform: scale(.98);
}

.info-tracks-cover {
    display: block;
    width: 210px;
    height: 210px;
    border-radius: 10px;
    object-fit: cover;
}

.Artist__info-track-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Artist__info-track-title p {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 132px;
    overflow: hidden;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: var(--grayNotEdit);
}

.playPauseIconSlider {
    width: 30px;
    height: 30px;
}

.artist-section-page-line {
    position: absolute;
    height: 195px;
    width: 1px;
    background: var(--grayNotEdit);
    border-radius: 20px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.Artist__info-playlist {
    height: 223px;
    display: block;
    overflow: hidden;
}

.Artist__info-playlist:after {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.3;
}

.Artist-empty-block {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.Artist-empty-block p {
    margin-top: 15px;
    color: var(--gray);
    font-size: 17px;
}


@media screen and (min-height: 1080px) {
    .Artist__info-bio {
        height: 300px;
    }

    .statistics-wrapper {
        margin-top: 115px;
    }

    .Artist__info-block:nth-child(1) {
        margin-top: 150px;
    }
}

