.wrapper {
    position: relative;
    height: 100%;
}

.Artist_ava {
    top: -50px;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.Artist_ava-wrapper {
    position: relative;

}

.Artist__wrapper-top {
    position: relative;
}

.Artist_ava-wrapper::after {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.21) 0%, rgba(0, 0, 0, 0.80) 99.94%);
    z-index: -1;
}

.Artist-name {
    margin-top: 85px;
    color: var(--white);
    font-family: Nunito;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Artist__info-bio {
    max-width: 830px;
    max-height: 216px;
    margin-top: 40px;
    font-size: 18px;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Artist__btns {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.Artist__btns-subs {
    border-radius: 8px;
    border: 1px solid #686868;
    background: rgba(81, 81, 81, 0.50);
    padding: 18px 45px;

    color: var(--white);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

    transition: all .4s;
}

.Artist__btns-subs:hover {
    background: rgba(81, 81, 81, 0.750);
}


.Artist__btns-unsubs {
    border-radius: 8px;
    border: 1px solid #686868;
    background: rgba(81, 81, 81, 0.50);
    padding: 18px 45px;

    color: #9d9d9d;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.Artist__btns-similar {
    color: var(--white);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 45px;
    border-radius: 8px;
    line-height: normal;
    background: linear-gradient(90deg, #2F1DE8 3.57%, #7534FF 51.64%, #F00994 106.26%);
}

.Artist__info-social {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.statistics-wrapper {
    position: absolute;
    bottom: 13%;
    width: 100%;
}

.statistics-title {
    color: var(--white);
    font-family: Nunito;
    font-size: 28px;
    font-weight: 500;
}

.statistics-blocks {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 97px;
    justify-content: space-between;
    max-width: 1680px;
}

.statistics-block {
    display: flex;
    align-items: center;
    gap: 20px;

}

.statistics-block-data {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.statistics-block span {
    color: var(--gray);
    font-family: Nunito;
    font-size: 21px;
    font-weight: 400;
    line-height: normal;
}

.statistics__card-main {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    color: var(--white);
    font-family: Nunito;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
}

.Artist__info-title {
    color: var(--white);
    font-family: Nunito;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

.Artist__info-playlists {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    margin-top: 40px;
}

.Artist__info-playlist h3 {
    margin: 18px;
    color: var(--white);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    z-index: 1;
    width: 191px;
    overflow-wrap: break-word;
    max-height: 100px;
    overflow: hidden;
}

.Artist__info-playlist img {
    width: 223px;
    height: 223px;
    border-radius: 7px;
    position: relative;
}

.Artist__info-playlist img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.Artist__info-block {
    margin-top: 85px;
}

.Artist__info-sets {
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.Artist__info-set {
    position: relative;
}

.set-cover img {
    border-radius: 13px;
    width: 546px;
    height: 280px;
    object-fit: cover;

    top: 0;
    left: 0;
    z-index: -5;
    position: absolute;
}

/*.set-cover::after {*/
/*    border-radius: 13px;*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    transform: translate(-50%, -50%);*/
/*    background: rgba(0, 0, 0, 0.3);*/
/*}*/



