a {
    color: var(--white) !important;
}

.header__links a {
    position: relative;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header {
    margin: 50px 0 85px;
}

.header__menu-top {
    display: flex;
    align-items: center;
}

.header__links {
    display: flex;
    align-items: center;
    gap: 35px;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;

    margin-left: auto;
    margin-right: 40px;
}

.header__link img {
    top: 5px;
    left: 70px;
}

.header_ets-wrapper {
    display: flex;
    background: rgba(81, 81, 81, 0.50);
    border-radius: 10px;
    border: 1px solid #686868;
    padding: 15px 30px;
    align-items: center;
    transition: all .3s;
}

.header_ets-wrapper:hover {
    background: var(--feolet);
}

.header_ets-wrapper--authenticated {
    border-radius: 50%;
    padding: 20px;
    width: 55px;
    height: 55px;
    display: block;
    position: relative;
}

.header_ets-wrapper--authenticated img {
    position: absolute;
    width: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_login {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.header_setting,
.header_logout {
    display: flex;
    align-items: center;
}

.header_ets {
    position: relative;
}

.header_user-menu {
    position: absolute;
    top: 100%;
    right: 4.5%;
    z-index: 12;
    padding: 28px 18px 25px;
    border-radius: 22px;
    background: #161616;
    display: flex;
    flex-direction: column;
    gap: 20px;

    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
}

.header_user-menu-active {
    top: 130%;
    opacity: 1;
    pointer-events: initial;
}

.user_menu-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 0 13px;
}

.user_menu-list li {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.user_menu-list a {
    display: flex;
    gap: 15px;
    align-items: center;
    white-space: nowrap;
}

.user-menu-themes {
    display: flex;
    gap: 21px;
    padding: 15px 25px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 13px;
    background: #292929;
}

.user-menu-themes span {
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.user-menu-themes a {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-menu-themes img {
    width: fit-content;
    margin: 0 auto;
}













