.album-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.album-title a {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s;
}

.album-title a:hover {
    transform: translateX(-10px);
}

.album__wrapper {
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px;

}

.album__photo {
    position: relative;
}

.album__photo img {
    width: 545px;
    height: 385px;
    object-fit: cover;
    border-radius: 15px;
}

