#video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

#authorization-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    transition: opacity 1s ease-in-out;

}

#welcome-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

.logotype-background {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27%);
    z-index: -5;
}

.autorizated__title {
    text-align: center;
    color: var(--white);
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
}

.autorizated__wrapper {
    position: relative;
    padding: 50px;
    border-radius: 20px;
    background: #101010;
    width: 546px;
    margin: 50px auto 0;
}

.autorizated__wrapper input{
    padding: 17px 30px;
    color: var(--white);
    font-family: Nunito, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    display: block;
    border-radius: 5px;
    background: #1A1A1A;
    margin-top: 13px;
    outline: none;
    border: 1px solid transparent;
    transition: all .3s;
    opacity: 0.8;
}

input:focus {
    opacity: 1;
    border: 1px solid var(--feolet);
}

.autorizated__wrapper-title {
    color: var(--white);
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 25px;
}

.autorizated__wrapper-check {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 13px;
    display: block;
}
.autorizated__wrapper-senddData,
.autorizated__wrapper-next {
    padding: 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 20px auto 0;
    color: var(--white);
    font-family: Nunito, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    border: 1px solid var(--white);
    background: transparent;

    transition: all .6s;
}

.autorizated__wrapper-senddData:hover,
.autorizated__wrapper-next:hover {
    border: 1px solid transparent;
    background: var(--feolet);
}


.autorizated__wrapper-back {
    position: absolute;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    bottom: -43px;
    left: 50%;
    transform: translateX(-50%);
}

.setting-ava-img {
    display: block;
    margin: 0 auto;;
    background: #1A1A1A;
    width: 200px !important;
    height: 200px !important;
}

.autorizated__wrapper span {
    margin-top: 8px;
    color: #ed5858;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    word-break: break-all;
}

.success-message {
    position: relative;
    padding: 20px 22px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 13px;
    background: #5347CC;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    width: fit-content;
    margin: 20px auto 0;
    transition: all .3s;
    transform: translateY(0px);
}

.success-message:before {
    content: "";
    background: url("../images/li_check-circle.svg");
    width: 24px;
    height: 24px;
}

.error-message {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 13px;
    background: #B44646;
    width: fit-content;
    position: fixed;
    bottom: 40px;
    left: 40px;
    transition: all .5s;
    transform: translateY(0px);
}

.error-message h2 {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.error-message h2:before {
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/li_alert-circle.svg");
}

.error-message ul li {
    color: var(--white);
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
}

.error-message ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.hidden-success-message {
    opacity: 0;
    transform: translateY(10px);
}













