.search_tracks {
    border-radius: 13px;
    border: 1px solid #686868;
    background: rgba(81, 81, 81, 0.50);
    font-family: 'Nunito', serif;
    padding: 16px 25px;

    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

    outline: none;
    width: 100%;
    display: block;
    transition: all .6s;
}

.search_tracks:focus {
    border: 1px solid #686868;
    background: rgba(81, 81, 81, 0.15);
}

.search-button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 15px;
    line-height: 1;
}

form {
    position: relative;
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.search__artist-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: all .4s;
}

.search__artist-wrapper:hover {
    background: #252525;
    border-radius: 13px;
    padding: 15px;
}

.search__artist-left a {
    display: flex;
    align-items: center;
    gap: 22px;
}

.search__artist-left-info p {
    margin-bottom: 6px;
}

.search__artist-left-info p,
.search__artist-left-info h4 {
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: var(--white);
}

.search__artist-btn {
    padding: 12px 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--white);
    border: 1px solid transparent;
    border-radius: 500px;
    background: rgb(34 34 34 / 50%);
}

.line {
    width: 100%;
    border-bottom: 0.7px solid #565656;
    padding-bottom: 15px;
}

.search__track-wrapper {
    margin-top: 40px;
    display: grid;
    gap: 20px 10px;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.search__track-track li {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search__track-track-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.track-info-title {
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;

    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-info-artist {
    color: var(--white);
    opacity: 0.5;
    font-size: 19px;
    font-weight: 400;
    line-height: normal;
    transition: all .2s;

    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track-info-artist:hover {
    opacity: 1;
}

.track-info-genre {
    color: var(--gray);
    font-size: 19px;
    font-weight: 300;
    line-height: normal;
}

.search__track-track-info {
    max-width: 190px;
}

.search__track {
    margin-top: 40px;
}






