.profile {
    position: relative;
}

.profile-wrapper {
    height: 768px;
}

.profile-setting-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.setting-form {
    display: flex;
    align-items: center;
    gap: 60px;
}

.setting-ava {
    position: relative;
}

#avatar {
    display: none;
}

.avatar-file {
    display: flex;
    padding: 17px;
    background: rgba(50, 50, 50, 0.50);
    border-radius: 500px;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 50%;
    transform: translate(50%, -10px);

    transition: all .3s;
    opacity: 0;
}

.setting-ava:hover .avatar-file {
    background: rgba(50, 50, 50, 0.70);
    transform: translate(50%, -18px);
    opacity: 1;
}

.setting-ava-img {
    object-fit: cover;
    border-radius: 500px;
    width: 220px;
    height: 220px;
}

.setting-info {
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.setting-info-input {
    outline: none;
    border: 1px solid transparent;
    padding: 14px 21px;
    border-radius: 12px;
    background: #323232;
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: all .4s;
}

.profile-setting-save {
    position: absolute;
    bottom: -233px;
    right: -465px;
    color: #FFF;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-radius: 15px;
    background: #00A542;
    padding: 13px 28px;
}

