@import 'global.css';
@import 'components/modal.css';
@import 'components/form-styles.css';
@import 'components/custom-file.css';
@import 'components/fonts.css';

.title {
    font-family: 'Nunito', serif;
    font-size: 28px;
    font-weight: 500;
    color: var(--white);

    width: fit-content;
    display: contents;
}

.text {
    font-family: 'Nunito', serif;
    font-weight: 300;
    font-size: 21px;
    line-height: 140%;

    color: var(--white);
}

.container {
    /*max-width: 1785px;*/
    max-width: 1710px;
    padding: 0 20px;
    margin: 0 auto;
}

.bottom_panel {
    background-color: #1B1B1B;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 300;

    transition: background-color .4s;
}

.audio-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 40px;
}

audio {
    display: none;
}

.progress-bar {
    background-color: var(--white);
    height: 4px;
    width: 420px;
    border-radius: 50px;
    position: relative;
}

.progress {
    background-color: var(--feolet);
    height: 100%;
    transition: width 0.2s ease;
    border-radius: 50px;
}

.circle {
    content: "";
    background: url(../images/logo-progress-var-line.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    left: 0;
    width: 10px;
    height: 15px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.total-time,
.current-time {
    color: var(--white);
    font-family: Nunito;
    font-size: 12px;
    font-weight: 600;
}

.progress-bar:hover .circle {
    opacity: 1;
}

.audio__info-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.audio-action_btn {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.controls {
    display: flex;
    gap: 5px;
}

.audio-left-block,
.audio-action_btn {
    flex: 1;
}

.audio-left-block {
    display: flex;
    align-items: center;
    gap: 30px;
}

.audio__info-wrapper img {
    border-radius: 9px;
}

.time {
    display: flex;
    gap: 354px;
    margin-top: 4px;
}

.track__info {
    width: 160px;
}

.track__info h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--gray);

}

.track__info p {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: var(--white);
}


.main__AllTracks {
    margin-top: 85px;
}

.main__AllTracks-slider {
    margin-top: 40px;
}

.main__AllTracks-slider-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 120;
}

.main__AllTracks-slider-arrow-left {
    left: 20px;
}

.main__AllTracks-slider-arrow-right {
    right: 20px;
}

.slider {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    justify-content: center;
}

.track {
    max-width: 100%;
    width: 100%;
}

.track img {
    border-radius: 10px;
    display: block;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.track__btn img {
    height: 70px;
    width: 70px;
    background-size: cover;
}

.MainSlide {
    position: relative;
}

.MainSlide img {
    border-radius: 10px;
}

.MainSlide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98.7%;
    background-color: black;
    opacity: 0.6;
    border-radius: 10px;
}

.slide-info {
    margin-top: 8px;
}

.MainSlideInfo {
    position: absolute;
    bottom: 20px;
    left: 30px;
}

.MainSlideInfo button {
    position: absolute;
    top: 0;
    left: 410px;
}

.MainSlideTitle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: var(--white);
}

.MainSlideArtist {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: var(--gray);
}

.slide-info-artist {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 21px;
    line-height: 29px;
    color: var(--white);
}

.slide-info-title {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--gray);
}


::-webkit-scrollbar {
    background-color: var(--black);
    width: 7px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--feolet);
    border-radius: 100px;
}

/* Для Firefox */
::-moz-scrollbar {
    background-color: var(--black);

    width: 10px;
}

::-moz-scrollbar-thumb {
    background-color: var(--black);
}


.transition {
    transition: all 0.3s ease-in-out;
}


.fullscreen-container {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s, transform 0.3s;
}

.fullscreen-container.show {
    opacity: 1;
    transform: translateY(0);
}

body {
    overflow-x: hidden;
}

body.slide-out {
    animation: slideOut .5s ease-in-out;
}

@keyframes slideOut {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

/* select */

.select {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
    z-index: -100
}

.custom-select {
    position: relative;
    font-size: 16px
}

.custom-select--show .custom-select__current {
    border-radius: 10px;
    border-color: #8478ff
}

.custom-select--show .custom-select__current::after {
    -webkit-transform: rotate(-180deg) translateY(50%);
    -ms-transform: rotate(-180deg) translateY(50%);
    transform: rotate(-180deg) translateY(50%)
}

.custom-select--show .custom-select__list {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    background-color: #202020;
    z-index: 100;
    border: 1px solid #8478ff
}

.custom-select__current {
    font-size: 15px;
    position: relative;
    cursor: pointer;
    padding-right: 50px;
    -webkit-transition: border-radius .3s;
    -o-transition: border-radius .3s;
    transition: border-radius .3s
}

.custom-select__current::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 13px;
    height: 6px;
    background-image: url("../images/select-arrow.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s
}

.custom-select__list {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 2;
    overflow: hidden;
    border-radius: 12px;
    max-height: 230px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.custom-select__item {
    padding: 20px 15px;
    cursor: pointer;
    -webkit-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s
}

.custom-select__item:hover {
    color: #8478ff;
}

.custom-select__item:not(:last-child) {
    border-bottom: 1px solid #8478ff;
    border-radius: 0;
}

/* alert */

.no-work__warn,
.subs__warn {
    z-index: 1;
    position: fixed;
    padding: 20px;
    border-radius: 13px;
    border: 1px solid transparent;
    min-width: 300px;
    min-height: 200px;
    bottom: 12.7%;
    right: 6%;
    background: #1B1B1B;
    pointer-events: none;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease, border .5s;
}

.no-work__warn {
    opacity: 0;
    position: absolute;
    bottom: unset;
    right: unset;
    left: -15%;
    top: 95%;
    min-height: inherit;
}

.no-work__warn_title {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.no-work__warn_title h2 {
    font-size: 20px;
    font-weight: 400;
}

.no-work__warn:hover,
.subs__warn:hover {
    border: 1px solid var(--feolet);
}

.no-work__warn.visible,
.subs__warn.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.subs__warn p {
    max-width: 260px;
    margin-top: 11px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--white);
}

.subs__warn-close {
    display: block;
    margin-left: auto;
}

.subs__warn-subs {
    display: block;
    margin-top: 20px;
    text-align: center;
    padding: 11px 5.5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--white);
    background: #000;
    border-radius: 7px;
    width: 100%;
    background: linear-gradient(92.05deg, #4A3AF2 44.53%, #CD3FFF 74.96%, #DA138A 105.45%);
}

.top-decor-left {
    position: absolute;
    width: 438px;
    height: 438px;
    border-radius: 438px;
    filter: blur(240px);
    z-index: -18;
}

.control-panel {
    margin-bottom: 40px;
}

.control-panel-name {
    background: linear-gradient(49deg, #4A3AF2 9.53%, #CD3FFF 44.96%, #DA138A 105.45%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

.control-panel__wrapper {
    display: flex;
    margin-top: 40px;
    align-items: center;
    gap: 21px;
}

.control-block {
    position: relative;
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(90deg, #3F3E41 0%, #333 100%);
    width: 405px;
}

.control-block-randBtn-img {
    width: 42px;
}

.control-block-randTrack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.control-block-randTrack h2 {
    color: var(--white);
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
    max-width: 232px;
}


.control-block-volume {
    padding: 32px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.control-block-device {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: normal;
    padding: 31px 34px;
}

.control-block-device h6 {
    color: var(--white);
    font-weight: 600;
}

.control-block-device {
    color: var(--gray);
    font-weight: 600;
}

.control-block-genre {
    display: flex;
    align-items: center;
    gap: 15px;
}

.block-genre {
    position: relative;
    border-radius: 20px;
    padding: 15px;
    width: 180px;
    height: 88px;
    display: flex;
    flex-direction: column-reverse;
}

.block-genre span {
    color: var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.block-genre img {
    position: absolute;
    bottom: -7px;
    right: -10px;
    width: 45px;
}

/*range*/

.slider-container {
    position: relative;
    width: 100%;
}

#volumeControl {
    width: 100%;
    margin: 0;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    width: 265px;
    background: #666;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]:focus {
    border: unset;
}

input[type=range]::-webkit-slider-thumb {
    background: #ecf0f1;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-appearance: none;
}


.interesting-artist {
    margin-top: 85px;
}

.artists__wrapper {
    display: grid;
    margin-top: 130px;
    align-items: center;
    gap: 40px;
    grid-template-columns: repeat(6, 1fr);
}

.artist__block {
    padding: 20px;
    position: relative;
    width: 245px;
    height: 245px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    text-align: center;
    background: #1A1A1A;
    transition: all .4s;
}

.artist-avatar {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: all .4s;
}

.artist__block:hover .artist-avatar {
    top: -80px;
}

.artist__block:hover {
    transform: scale(1.01);
}

.interesting-artist-name {
    margin-top: 86px;
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.interesting-artist-genre {

}

.interesting-artist-link {
    margin: 0 auto;
    width: fit-content;
}

.ads-banner {
    margin-top: 70px;
}

.banner {
    overflow: hidden;
    width: 100%;
    padding: 50px;
    background: #0F0F0F;
    border-radius: 30px;
    position: relative;
}

.banner-gradient {
    position: absolute;
    top: -400px;
    left: -400px;
}

.banner-wrapper {
    z-index: 6;
    position: relative;
}

.banner-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.banner-title {
    color: var(--white);
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    max-width: 630px;
    width: 100%;
}

.banner-description {
    margin-top: 20px;
    color: var(--white);
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    max-width: 630px;
    width: 100%;
}

.banner-link {
    margin-top: 37px;
    color: var(--white);
    font-family: Nunito, serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-radius: 120px;
    background: #C829E2;
    padding: 16px 41px;
    cursor: pointer;
    display: inline-block;
    transition: all .3s;
}

.banner-link:hover {
    transform: scale(1.05);
}

.banner-gradient-2 {
    position: absolute;
    top: -75%;
    right: -20%;

    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-name: rotateGradient;
}

@keyframes rotateGradient {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.banner-gradient-decor {
    position: absolute;
    top: -42%;
    right: 9%;
}

.banner-gradient-decor div {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.gradient-decor-img {
    position: absolute;
    top: 30%;
    right: -87%;
}

.fade-out {
    opacity: 0;
    margin-left: 100px;
    transition: all 0.3s ease-out;
}