.wrapper {
    position: relative;
    height: 100%;
}

.headphones-img-wrapper {
    position: relative;
}

.main-img-top {
    top: -50px;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.one-page {
    margin-top: 392px;
}

.onepage_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onepage_span {
    color: var(--white);
    font-size: 32px;
    font-weight: 300;
    line-height: normal;
}

.onepage_title {
    color: var(--white);
    font-size: 48px;
    font-weight: 600;
    line-height: normal;
}

.onepage_blocks {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.onepage-check {
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}

.onepage_block span {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.onepage_btn {
    font-family: Nunito;
    margin-top: 36px;
    text-align: center;
    border-radius: 12px;
    padding: 16px 25px;
    max-width: 320px;
    width: 100%;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    background: linear-gradient(92deg, #4A3AF2 44.53%, #CD3FFF 74.96%, #DA138A 105.45%);
}

.plan-wrapper {
    margin-top: 40px;
    display: grid;
    gap: 22px;
    grid-template-columns: repeat(2, 2fr);

}

.plan-block {
    padding: 50px 50px 30px 50px;
    border-radius: 23px;
    background: #0F0F0F;
}

.plan-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan-title h2 {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
}

.plan-description {
    margin-top: 30px;
    color: var(--gray);
    font-size: 28px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
}

.line {
    background: var(--white);
    width: 100%;
    height: 1px;
    border-radius: 50px;
}

.plan-advantages {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.plan-advantages li {
    color: var(--gray);
    font-size: 21px;
    font-weight: 400;
    line-height: normal;
    position: relative;
    gap: 10px;
    display: inherit;
}

.plan-advantages li::before {
    content: "";
    background: url("../images/li_check.svg");
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

.plan-buy {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plan-buy-cost {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.plan-buy-btn {
    font-family: Nunito, serif;
    color: #F8F8F8;
    font-size: 21px;
    font-weight: 500;
    line-height: normal;
    border-radius: 50px;
    background: #00A542;
    padding: 15px 50px;
}

.section-business {
    margin-top: 120px;
}

.business_wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
}

.business_block {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.business_block-title {
    position: relative;
}

.business_block-title h2 {
    position: absolute;
    color: var(--white);
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
    top: 50px;
    left: 30px;
}

.business_block-title p {
    position: absolute;
    color: var(--white);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    top: 114px;
    left: 30px;
}

.section-advantages {
    margin-top: 120px;
}

.advantages-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 40px;
}

.advantage-block {
    position: relative;
    padding: 30px;
    border-radius: 30px;
    width: 404px;
    min-height: 404px;
}

.advantage-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advantage-title h3 {
    color: var(--white);
    font-size: 31px;
    font-weight: 600;
    line-height: normal;
}

.advantage-info {
    margin-top: 15px;
    color: var(--white);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.advantage-btn {
    font-family: Nunito;
    border-radius: 13px;
    background: #0B0B0B;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 15px;
    position: absolute;
    bottom: 30px;
    width: 344px;
}





















