<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/tracks-main.css}">
    <link rel="stylesheet" th:href="@{/css/details-track.css}">
    <link rel="stylesheet" th:href="@{/css/AllArtist.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <title>Musical - Релизы</title>
</head>

<body class="body">
<div style="background: rgba(83, 71, 204, 0.60); top: -28%; left: -7%;" class="top-decor-left"></div>
<div style="background: rgba(191, 62, 253, 0.50); top: -40%; left: 30%;" class="top-decor-left"></div>

<header class="header" th:include="components/header :: header"></header>

<section class="control-panel" sec:authorize="isAuthenticated()">
    <div class="container">
        <h1 id="greeting" class="title"></h1><span class="control-panel-name" th:text="${name} + '!'"></span>

        <div class="control-panel__wrapper">

            <div class="control-block" style="background: linear-gradient(90deg, #474EEF 0%, #6C56F3 100%);">
                <div class="control-block-randTrack">
                    <h2>Произвести рандомные треки</h2>
                    <button class="control-block-randBtn" onclick="playRandomTrack()">
                        <img class="control-block-randBtn-img" src="../images/play-track-small.svg" alt="Воспроизвести">
                    </button>
                </div>
            </div>

            <div class="control-block">
                <div class="control-block-volume">
                    <img th:src="@{/images/sound-mute-icon.svg}">
                    <div class="slider-container">
                        <input class="range" type="range" id="volumeControl" min="0" max="1" step="0.1"
                               value="${volume}"/>
                        <div class="slider-track"></div>
                    </div>
                    <img th:src="@{/images/sound-active-icon.svg}" title="Увеличить громкость">
                </div>
            </div>

            <div class="control-block">
                <div class="control-block-device">
                    <img th:src="@{/images/device-icon.svg}" title="Устройство воспроизведения">
                    <h6>Играет на: </h6>
                    <span id="osVersion">Определение</span>
                </div>
            </div>

            <div class="control-block" style="cursor:pointer;">
                <div class="control-block-genre">
                    <div class="block-genre" style="background: #E7AD1A">
                        <span>Альтернатива</span>
                        <img src="../images/play-track-small.svg"
                             alt="Воспроизвести">
                    </div>

                    <div class="block-genre" style="background: #E9ADCD">
                        <span>Поп-Панк</span>
                        <img src="../images/play-track-small.svg"
                             alt="Воспроизвести">
                    </div>
                </div>
                <div class="no-work__warn">
                    <div class="no-work__warn_title">
                        <h2>Пока недоступно</h2>
                        <button class="subs__warn-close noWork-close"><img src="../images/close-for-warn.svg"></button>
                    </div>
                    <p>Функция находиться
                        <br>на этапе разработки
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main">
    <div class="container">
        <div class="tracks-main">
            <div class="tracks-main__top">
                <h1 class="tracks-main__title title">Релизы</h1>
            </div>
            <th:block th:if="${tracks.isEmpty()}">
                <p>Релизов пока нет (странно конечно что на музыкальном сервисе нет музыки) XD</p>
            </th:block>
            <th:block>
                <ul class="tracks-main__list">
                    <li class="tracks-main__item" th:each="track: ${tracks}">
                        <audio class="audioPlayer" controls style="display: none;">
                            <source type="audio/mp3" th:src="@{'/uploads/' + ${track.getAudiofilename()}}">
                            Ваш браузер не поддерживает воспроизведение аудио.
                        </audio>
                        <div class="tracks-main__top">
                            <img class="tracks-main__img" th:src="@{'/uploads/' + ${track.getCoverfilename()}}"
                                 height="225">
                            <button class="tracks-main__btn" th:data-track-id="${track.id}">
                                <img class="playPauseIconSlider" src="../images/play-track-small.svg"
                                     alt="Воспроизвести">
                            </button>
                        </div>
                        <h3 class="tracks-main__album" th:text="${track.getTitle()}"></h3>
                        <a class="tracks-main__artist" th:href="@{'/artist/' + ${track.artists.id} + '/details'}"><span
                                th:text="${track.artists.name}"></span></a>
                    </li>
                </ul>
            </th:block>
            <button class="tracks-main__more" type="button">Ещё</button>
        </div>
    </div>

    <div class="subs__warn">
        <button class="subs__warn-close"><img src="../images/close-for-warn.svg"></button>
        <p>Функция доступна только при подписке Меломан
            <br>
            Хотите преобрести?
        </p>
        <a class="subs__warn-subs" th:href="@{subscribe}">Хочу</a>
    </div>

    <div class="bottom_panel">
        <div class="container">
            <div class="audio-container">

                <div class="audio-left-block">

                    <div class="audio__info-wrapper">
                        <img class="coverImage" src="../images/cover/Nirvana_album_cover.svg.webp" alt="Обложка аудио"
                             width="50">
                        <div class="track__info">
                            <h3 class="trackTitle">Название аудио</h3>
                            <p class="artistsName">Имя исполнителя</p>
                        </div>
                    </div>

                    <div class="track-timeline">
                        <div class="progress-bar">
                            <div class="progress"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="time">
                            <span class="current-time">00:00</span>
                            <!--                            <audio controls id="myAudio">-->
                            <!--                                <source src="../audio/dzhizus-manyak-mp3.mp3" type="audio/mp3">-->
                            <!--                                Ваш браузер не поддерживает воспроизведение аудио.-->
                            <!--                            </audio>-->
                            <span class="total-time">00:00</span>
                        </div>
                    </div>
                </div>

                <div class="controls">
                    <button id="prevButton"><img src="../images/prev_song-icon.svg" alt="Пред трек"></button>
                    <button class="toggle-audio-button" id="playPauseButton"><img class="playPauseIcon"
                                                                                  src="../images/play-icon.svg"
                                                                                  alt="Воспроизвести"></button>
                    <button id="nextButton"><img src="../images/next_song-icon.svg" alt="След трек"></button>
                </div>
                <div class="audio-action_btn">
                    <button onclick="toggleMute()">
                        <img class="action_btn-sound-active btn" id="muteIcon" src="../images/sound-active-icon.svg"
                             alt="Звук включен">
                    </button>
                    <button class="action_btn-repeat">
                        <img class="btn" src="../images/repeat-icon.svg" alt="На повтор">
                    </button>
                    <button class="action_btn-shuffle">
                        <img class="btn" src="../images/shuffle-icon.svg" alt="Перемешка">
                    </button>
                    <button class="action_btn-more">
                        <img class="btn" src="../images/more-icon.svg" alt="Еще больше">
                    </button>
                    <button id="fullscreen-container" class="transition">
                        <img class="action_btn-maximize btn" src="../images/maximize-icon.svg" alt="На весь экран">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="warn__notification">
        <p>Для полного восприятия вида нажмите F11</p>
    </div>
</section>

<section class="interesting-artist">
    <div class="container">
        <h1 class="title">Интересные артисты</h1>
        <div class="artists__wrapper">
            <th:block th:if="${recentlyViewedArtists != null and not #lists.isEmpty(recentlyViewedArtists)}">
                <th:block th:each="artist: ${recentlyViewedArtists}">
                    <a th:href="@{'/artist/' + ${artist.id} + '/details'}">
                        <div class="artist__block">
                            <img th:src="@{'/uploads/' + ${artist.filename}}" alt="artist-image" class="artist-avatar">
                            <h2 class="interesting-artist-name" th:text="${artist.name}">Исполнитель</h2>
                            <span class="interesting-artist-genre" th:text="${artist.genre}">Альтернатива</span>
                            <img class="interesting-artist-link" th:src="@{/images/link-artist.svg}" alt="decor-el"
                                 style="">
                        </div>
                    </a>
                </th:block>
            </th:block>
        </div>
    </div>
</section>

<section class="ads-banner">
    <div class="container">
        <div class="banner">
            <div class="banner-gradient">
                <img th:src="@{/images/banner-gr-1.svg}">
            </div>
            <div class="banner-wrapper">
                <div class="banner-title-wrapper">
                    <h1 class="banner-title">Хочешь попасть в секретный
                        Телеграм канал нашего сервиса?</h1>
                    <a href="#"><img th:src="@{/images/close.svg}"></a>
                </div>
                <p class="banner-description">Чтобы узнавать быстрее всех об обновлениях или выпусках новых треков,
                    артистов и подкастов! Может ты хочешь испытать новые фишки? Оформляй подписку “Эклектик” и получай
                    приватное приглашение в наш канал</p>
                <a th:href="@{/subscribe}" class="banner-link">Приобрести</a>
            </div>
            <div class="banner-gradient-2">
                <img th:src="@{/images/banner-gr-2.svg}">
            </div>
            <div class="banner-gradient-decor">
                <div>
                    <img th:src="@{/images/banner-circle.svg}">
                    <img th:src="@{/images/banner-circle.svg}">
                </div>
                <img class="gradient-decor-img" th:src="@{/images/banner-circle.svg}">
            </div>

        </div>
    </div>
</section>

<section style="margin: 200px;">Заглушка</section>

<div class="details-track" style="background: url('/images/track-test-2.png');">
    <div class="container">
        <div class="details-track__inner">
            <div class="details-track__left">
                <img class="details-track__img coverImage" th:src="@{/images/track-test-2.png}" alt="cover" width="690"
                     height="690">
            </div>
            <div class="details-track__tabs">
                <div class="details-track__top">
                    <button class="details-track__btn active" data-tab="quotes">Подробное</button>
                    <button class="details-track__btn" data-tab="text">Текст</button>
                </div>
                <div class="details-track__content">
                    <div class="details-track__tab active" data-tab="quotes">
                        <h3 class="details-track__title trackTitle">Хомяк</h3>
                        <p class="details-track__artist artistsName">Темным и Обманчивым</p>
                        <span class="details-track__genre">Русский Рок | 2023 Год</span>
                    </div>
                    <div class="details-track__tab track__tab-lyric" data-tab="text">
                        <p class="details-track__lyrics">
                            Текст трека
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.5/platform.min.js"></script>
<script>
    let os = platform.os;
    document.getElementById("osVersion").innerText = "" + os.family + " " + os.version;
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/tracks-main.js}"></script>
<script th:src="@{/js/custom-select.js}"></script>
<script th:src="@{/js/custom-file.js}"></script>
<script th:src="@{/js/greeting.js}"></script>
<script th:src="@{/js/alert.js}"></script>
<script th:src="@{/js/main.js}"></script>

</html>