<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/collection.css">
    <link rel="icon" href="../images/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <title>Musical Exclusive - Коллекция</title>
</head>

<body>

<section class="blur" id="content">
    <img src="../images/Коллекция.png" alt="block">
</section>

<section class="offer">
    <img src="../images/logo-premium.svg">
    <p>Упс! Кажется у вас нет подписки “Меломан” чтобы просматривать эту страницу</p>
    <a th:href="@{subscribe}" class="offer__btn-subs">Купить подписку</a>
    <a th:href="@{/}" class="offer__btn-cancel">Пока обойдусь “На главную”</a>
</section>
</body>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="../js/collection.js"></script>

</html>