<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:util="urn:java.util">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/PhotoAlbum.css}">
    <link rel="stylesheet" th:href="@{/css/admin/admin-addPhotoToAlbum.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title th:text="${album.name}"></title>
</head>

<body>

<header class="header" th:insert="~{components/header :: header}"></header>

<section class="album">
    <div class="container">
        <div class="album-title">

            <a th:href="@{/artist/{id}/details(id=${artist.id})}" class="album__go-back">
                <img th:src="@{/images/goBack-icon.svg}" alt="goBack">
                <h1 class="title" th:text="'Фото-Альбом | ' + ${album.name}"></h1>
            </a>
            <form th:action="@{/artist/{artistId}/album/{albumId}/addPhoto(artistId=${artist.id}, albumId=${album.id})}"
                  th:if="${#authorization.expression('hasAuthority(''Администратор'')')}"
                  method="post" enctype="multipart/form-data" class="form-add-photosToAlbum">
                <label for="photosFile" class="album-title-addPhotos-icon">
                    <img th:src="@{/images/li_camera.svg}" alt="photic-icon" width="20" height="20">
                    <input type="file" id="photosFile" name="files" accept="image/*" multiple required>
                    <span id="fileNameOrCount"></span>
                </label>
                <button class="album-title-addPhotos">Добавить фотографии</button>
            </form>
        </div>

        <div class="album__wrapper">
            <div class="album__photo--add" th:if="${#authorization.expression('hasAuthority(''Администратор'')')}">
                <form th:action="@{/artist/{artistId}/album/{albumId}/addPhoto(artistId=${artist.id}, albumId=${album.id})}"
                      method="post" enctype="multipart/form-data" id="uploadForm">
                    <label for="files" class="icon-uploads-file">
                        <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M21 7C21.9665 7 22.75 7.7835 22.75 8.75V33.25C22.75 34.2165 21.9665 35 21 35C20.0335 35 19.25 34.2165 19.25 33.25V8.75C19.25 7.7835 20.0335 7 21 7Z"
                                  fill="#F8F8F8"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M7 21C7 20.0335 7.7835 19.25 8.75 19.25H33.25C34.2165 19.25 35 20.0335 35 21C35 21.9665 34.2165 22.75 33.25 22.75H8.75C7.7835 22.75 7 21.9665 7 21Z"
                                  fill="#F8F8F8"/>
                        </svg>
                        <input type="file" id="files" name="files" accept="image/*" required>
                    </label>
                </form>
            </div>
            <div class="album__photo" th:each="photo : ${sortedPhotoDate}">
                <a th:href="@{'/artist/' + ${artist.id} + '/album/' + ${album.id} + '/deletePhoto/' + ${photo.id}}"
                   th:if="${#authorization.expression('hasAuthority(''Администратор'')')}">
                    <img th:src="@{/images/admin/delete.svg}">
                </a>
                <img th:src="@{'/uploads/' + ${photo.getFilename()}}">
            </div>
        </div>
    </div>
</section>


</body>
<script th:src="@{/js/basic-tools.js}"></script>
<script th:src="@{/js/admin/deleteFetchObject.js}"></script>

</html>