<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/registration.css">
    <link rel="stylesheet" href="../css/setting.css">
    <link rel="icon" href="../images/logo.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <title>Регистрация</title>
</head>

<body>
<div id="video-container">
    <video id="welcome-video" width="100%" height="100%" autoplay muted>
        <source src="../images/Video/intro.MP4" type="video/mp4">
    </video>
    <section class="autorizated__page" id="registration-form">
        <div class="container__autorizated">
            <img th:src="@{/images/registrationLogo.svg}" alt="logo-new"
                 style="margin: 0 auto; display: block; margin-bottom: 100px;">
            <img th:src="@{/images/logo-background.svg}" class="logotype-background">
            <h1 class="autorizated__title">Привет зарегистрируемся?</h1>

            <form th:action="@{/registration/save}" method="POST" th:object="${user}" enctype="multipart/form-data">

                <div class="autorizated__wrapper">
                    <h3 class="autorizated__wrapper-title">Бесконечный поток музыки - Это когда пароль и логин хорошо
                        защищены</h3>
                    <input type="text" placeholder="Логин" required th:field="*{username}">
                    <input type="password" placeholder="Пароль" required th:field="*{password}">
                    <a th:href="@{/login}" class="autorizated__wrapper-check">Есть аккаунт? Давай авторизуемся!</a>
                    <a href="" class="autorizated__wrapper-next">Дальше</a>
                </div>

                <div class="autorizated__wrapper hidden">
                    <h3 class="autorizated__wrapper-title">Ваше имя это стиль вашего профиля</h3>
                    <input type="text" placeholder="Имя" required th:field="*{name}">
                    <input type="text" placeholder="Фамилия" required th:field="*{surname}">
                    <input type="email" placeholder="Почта" required th:field="*{mail}">
                    <a href="" class="autorizated__wrapper-next">Дальше</a>
                </div>

                <div class="autorizated__wrapper hidden">
                    <h3 class="autorizated__wrapper-title">Мир глазами вашего объектива</h3>
                    <div class="setting-ava">
                        <label for="avatar" class="avatar-file">
                            <img th:src="@{/images/li_camera.svg}">
                        </label>
                        <input id="avatar" type="file" name="file" accept="image/*" onchange="previewFile()">
                        <img class="setting-ava-img" th:src="@{'/uploads/' + ${user.avatar}}" id="preview">
                    </div>
                    <button class="autorizated__wrapper-senddData" type="submit">Зарегистрироваться</button>
                </div>

            </form>
        </div>
    </section>
</div>
</body>
<script th:src="@{/js/registration.js}"></script>
</html>