<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title>Регистрация</title>
</head>

<body>
<div id="video-container">
    <video id="welcome-video" width="100%" height="100%" autoplay muted>
        <source src="../images/Video/intro.MP4" type="video/mp4">
    </video>
    <section class="autorizated__page" id="registration-form">
        <div class="container__autorizated">
            <img th:src="@{/images/registrationLogo.svg}" alt="logo-new"
                 style="margin: 0 auto 100px; display: block;">
            <img th:src="@{/images/logo-background.svg}" class="logotype-background">
            <h1 class="autorizated__title">Привет зарегистрируемся?</h1>

            <form th:object="${user}" th:action="@{/registration/save}" method="POST" enctype="multipart/form-data" novalidate>

                <div class="autorizated__wrapper">
                    <h3 class="autorizated__wrapper-title">Бесконечный поток музыки - Это когда пароль и логин хорошо
                        защищены</h3>
                    <input type="text" placeholder="Придумайте логин" required th:field="*{username}">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

                    <input type="password" placeholder="Придумайте надежный пароль" required th:field="*{password}">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

                    <a th:href="@{/login}" class="autorizated__wrapper-check">Есть аккаунт? Давай авторизуемся!</a>
                    <a href="" class="autorizated__wrapper-next">Дальше</a>
                </div>

                <div class="autorizated__wrapper hidden">
                    <h3 class="autorizated__wrapper-title">Ваше имя это стиль вашего профиля</h3>
                    <input type="text" placeholder="Имя" required th:field="*{name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

                    <input type="text" placeholder="Фамилия" required th:field="*{surname}">
                    <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>

                    <input type="email" placeholder="Почта" required th:field="*{mail}">
                    <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
                    <a href="" class="autorizated__wrapper-next">Дальше</a>
                    <a href="#" class="autorizated__wrapper-back">Назад</a>
                </div>

                <div class="autorizated__wrapper hidden">
                    <h3 class="autorizated__wrapper-title">Мир глазами вашего объектива</h3>
                    <div class="setting-ava">
                        <label for="avatar" class="avatar-file">
                            <img th:src="@{/images/li_camera.svg}">
                        </label>
                        <input id="avatar" type="file" name="file" accept="image/*" onchange="previewFile()">
                        <span th:if="${#fields.hasErrors('avatar')}" th:errors="*{avatar}"></span>
                        <img class="setting-ava-img" th:src="@{'/uploads/' + ${user.avatar}}" id="preview">
                    </div>
                    <button class="autorizated__wrapper-senddData" type="submit">Зарегистрироваться</button>
                    <a href="#" class="autorizated__wrapper-back">Назад</a>
                </div>

            </form>
        </div>
    </section>
</div>
</body>
<script th:src="@{/js/registration.js}"></script>
</html>