<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel=" stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/search.css">
    <link rel="icon" href="../images/logo.svg">

    <title>Musical - Поиск треков</title>
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__menu-top">
            <a th:href="@{/artist/search}">
                <img src="../images/header/logotype.svg" class="header_logo">
            </a>
            <form action="/artist/search" method="GET">
                <input type="search" class="search_tracks" name="id" placeholder="Найти">
                <img class="search_tracks-img" src="../images/header/search.svg">
            </form>
            <ul class="header__links">
                <li class="header__link"><a th:href="@{/}">Назад</a></li>
            </ul>
            <div class="header_ets">
                <a th:href="@{setting}" class="header_setting"><img src="../images/header/setting.svg" alt="set"></a>
                <a th:href="@{registration}" class="header_logout"><img src="../images/header/logout.svg" alt="log"></a>
            </div>
        </div>
    </div>
</header>

<section class="search__track">
    <div class="container">
        <div class="search__track-wrapper" th:each="artist : ${artists}">
            <div class="search__track-left">
                <a href="#">
                    <img src="../images/search-track.jpg" width="100px" style="border-radius: 12px;">
                    <div class="search__track-left-info">
                        <p th:text="${artist.name}"></p>
                    </div>
                </a>
            </div>
            <a th:href="@{/artist/{id}/details(id=${artist.id})}" class="search__track-btn">Перейти</a>
        </div>
    </div>
</section>

</body>
<script src="../js/swiper-for-subs.js"></script>

</html>