<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title>Musical - Настройки</title>
</head>

<body class="body">

<header class="header" th:include="components/header :: header"></header>

<section class="profile">
    <div class="container">
        <div class="profile-wrapper">
            <div class="profile-setting-wrapper">
                <form class="setting-form" th:object="${user}" th:action="@{/setting/save}" method="post"
                      enctype="multipart/form-data">
                    <div class="setting-ava">
                        <label for="avatar" class="avatar-file">
                            <img th:src="@{/images/li_camera.svg}">
                        </label>
                        <input id="avatar" type="file" name="file" accept="image/*" onchange="previewFile()">
                        <img class="setting-ava-img" th:src="@{'/uploads/' + ${user.avatar}}" alt="Avatar" id="preview"></div>
                    <div class="setting-info">
                        <input th:field="*{id}" type="hidden" class="setting-info-input" placeholder="Ваше имя"
                               name="id" required>
                        <input th:field="*{name}" type="text" class="setting-info-input" placeholder="Ваше имя"
                               name="name" required>
                        <input th:field="*{surname}" type="text" class="setting-info-input" placeholder="Ваша фамилия"
                               name="surname" required>

                        <input th:field="*{mail}" type="hidden" class="setting-info-input" placeholder="Ваша фамилия"
                               name="mail" required>

                        <input th:field="*{username}" type="text" class="setting-info-input" placeholder="Логин"
                               name="username" required>

                        <input th:field="*{password}" type="hidden" class="setting-info-input" placeholder="Пароль"
                               name="password" required>
                    </div>
                    <button class="profile-setting-save" type="submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</section>

</body>

<script>
    function previewFile() {
        const preview = document.getElementById('preview');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();

        reader.onloadend = function () {
            if (file) {
                preview.src = reader.result;
            }
        }

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>


</html>