<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <link rel="icon" th:href="@{/images/logo.svg}">
    <title>Вход в систему</title>
</head>

<body>
<section class="autorizated__page" id="authorization-form">
    <div class="container__autorizated">
        <img th:src="@{/images/registrationLogo.svg}" alt="logo-new"
             style="margin: 0 auto 100px; display: block;">
        <img th:src="@{/images/logo-background.svg}" class="logotype-background">
        <h1 class="autorizated__title">Войдем в историю!</h1>

        <form th:action="@{/login}" method="post">
            <div class="autorizated__wrapper">
                <h3 class="autorizated__wrapper-title" th:text="${randomMessage}"></h3>
                <input type="text" id="username" name="username" placeholder="Логин" required>
                <input type="password" id="password" name="password" placeholder="Пароль" required>
                <a th:href="@{/registration}" class="autorizated__wrapper-check">Нет аккаунта? Давай
                    зарегистрируемся!</a>
                <button class="autorizated__wrapper-senddData" type="submit">Войти</button>
            </div>
        </form>
    </div>
</section>
</body>

</html>