<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"
          rel="stylesheet">

    <link rel=" stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/subscribe.css">
    <link rel="icon" href="../images/logo.svg">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <title>Musical - Эксклюзив</title>
</head>

<body>

<header class="header" th:insert="~{components/header :: header}"></header>

<section class="section-subscribe">
    <div class="container">
        <div class="subscribe__wrapper">
            <div class="subscribe_title">
                <h1 data-aos="fade-up" data-aos-delay="400" data-aos-duration="900">Для тех кто умеет
                    слушать по настоящему</h1>
                <p data-aos="fade-up" data-aos-delay="600" data-aos-duration="900">Абсолютно новый сервис. Приобретая
                    одну из трех подписок вы получаете уникальную возможность
                    погрузиться в мир музыки по-новому. Стартовая цена начинается от 200 рублей. Станьте не просто
                    слушателем, а настоящим профессиональным человеком в сфере музыки, </p>
                <div class="subscribe_links" data-aos="fade-up" data-aos-delay="900" data-aos-duration="900">
                    <a href="#">Посмотреть планы</a>
                    <a href="#">Узнать преимущества</a>
                </div>
            </div>
            <div class="subscribe-decor">
                <img data-aos="fade-up" data-aos-delay="200" data-aos-duration="900"
                     th:src="@{images/decor-for-subscribe-1.png}" alt="decor">
                <img class="subscribe-decor-gradient" th:src="@{images/gradient-for-subscribe-header.svg}" alt="decor">
            </div>
        </div>
    </div>
</section>

<section class="section-subscribe-details">
    <div class="container">
        <div class="subscribe-details-wrapper" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="900">
            <div class="subscribe-details-header">
                <div class="subscribe-details-header-img" data-aos="fade-up" data-aos-delay="1200"
                     data-aos-duration="900">
                    <img th:src="@{images/subscribe-details-header-img.png}" alt="decor">
                </div>
                <div class="subscribe-details-header-wrapper">
                    <h1 class="details-header-wrapper-title" data-aos="fade-up" data-aos-delay="1300"
                        data-aos-duration="900">Музыка без ограничений</h1>
                    <p class="details-header-wrapper-description" data-aos="fade-up" data-aos-delay="1400"
                       data-aos-duration="900">Ваша музыка путь к истории и вашему душевному
                        состоянию</p>
                    <div class="details-header-wrapper-list" data-aos="fade-up" data-aos-delay="1600"
                         data-aos-duration="1600">
                        <ul>
                            <li>Прослушивание Треков / Подкастов / Книг</li>
                            <li>Новости, доступ к будущим планам</li>
                            <li>Личный кабинет пользователя</li>
                            <li>Новый дизайн нашего сервиса</li>
                            <li>Персональный профиль пользователя</li>
                        </ul>
                        <ul>
                            <li>Доступ к музыкальным новинкам раньше, чем на других площадках</li>
                            <li>Тайминги</li>
                            <li>Перевод треков на все языки мира</li>
                            <li>Функция “Случайная песня”</li>
                            <li>Функция “Музыкальная терапия”</li>
                        </ul>
                        <ul>
                            <li>Доступ к коллекции</li>
                            <li>Доступ ко всем трекам мира</li>
                            <li>Скачивать музыку, и слушать оффлайн</li>
                            <li>Регистрация 3 аккаунтов на одной почте</li>
                            <li>Высокое качество аудио (wav-формат)</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="subscribe-details-plans">
                <div class="subscribe-details-plan" data-aos="fade-up" data-aos-delay="200" data-aos-duration="600">
                    <div class="details-plan-left">
                        <div class="details-plan-img">
                            <img th:src="@{images/details-plan-img-1.png}">
                        </div>
                        <div class="details-plan-left-wrapper">
                            <h2 class="details-plan-title">Слушатель</h2>
                            <ul>
                                <li>Прослушивание Треков / Подкастов / Книг</li>
                                <li>Новости, доступ к будущим планам</li>
                                <li>Личный кабинет пользователя</li>
                                <li>Новый дизайн нашего сервиса</li>
                                <li>Персональный профиль пользователя</li>
                            </ul>
                        </div>
                    </div>
                    <div class="details-plan-right">
                        <h2 class="details-plan-title">Для тех кто хочет просто послушать музыку</h2>
                        <p class="details-plan-description">
                            Погрузитесь в мир музыки, подкастов и аудиокниг с нашей подпиской "Слушатель". Насладитесь
                            неограниченным прослушиванием треков, подкастов и книг, а также получите доступ к последним
                            новостям и будущим планам. Новый дизайн нашего сервиса сделает ваш опыт еще более удобным, а
                            персональный профиль поможет настроить сервис под ваши предпочтения. Создайте свой личный
                            кабинет и окунитесь в мир звуков с подпиской "Слушатель".
                        </p>
                        <ul class="details-plan-advantages">
                            <li><img th:src="@{images/subscribe/fire.svg}">Доступ к новостям</li>
                            <li><img th:src="@{images/subscribe/user.svg}">Ваш персональный профиль</li>
                            <li><img th:src="@{images/subscribe/king.svg}">Новый дизайн нашего сервиса</li>
                            <li><img th:src="@{images/subscribe/note.svg}">Треки, Подкасты, Артисты</li>
                        </ul>
                    </div>
                </div>

                <div class="line"></div>

                <div class="subscribe-details-plan" data-aos="fade-up" data-aos-delay="200" data-aos-duration="600">
                    <div class="details-plan-left">
                        <div class="details-plan-img">
                            <img th:src="@{images/details-plan-img-2.png}">
                        </div>
                        <div class="details-plan-left-wrapper">
                            <h2 class="details-plan-title" style="color: #7466FF">Меломан</h2>
                            <ul class="">
                                <li class="li_violet">Доступ к коллекции</li>
                                <li class="li_violet">Доступ ко всем трекам мира</li>
                                <li class="li_violet">Скачивать музыку, и слушать оффлайн</li>
                                <li class="li_violet">Регистрация 3 аккаунтов на одной почте</li>
                                <li class="li_violet">Высокое качество аудио (wav-формат)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="details-plan-right">
                        <h2 class="details-plan-title" style="color: #7466FF">Для тех кто любит слушать творчество</h2>
                        <p class="details-plan-description">Исследуйте мир музыки с подпиской "Меломан". Насладитесь
                            неограниченным доступом к огромной коллекции треков, включая все аудиозаписи. Скачивайте
                            свои любимые композиции для прослушивания в автономном режиме, зарегистрируйте до трех
                            аккаунтов на одном адресе электронной почты. Погрузитесь в музыку с высочайшим качеством
                            звука в формате WAV, чтобы каждая нота звучала ярко и четко. Наслаждайтесь своим музыкальным
                            путешествием без ограничений с подпиской "Меломан".</p>
                        <ul class="details-plan-advantages" style="color: #7466FF">
                            <li style="background: rgba(116, 102, 255, 0.08);"><img
                                    th:src="@{images/subscribe/headphones.svg}">HQ-Качество звука
                            </li>
                            <li style="background: rgba(116, 102, 255, 0.08);"><img
                                    th:src="@{images/subscribe/speaker.svg}">Большинство устройств
                            </li>
                            <li style="background: rgba(116, 102, 255, 0.08);"><img
                                    th:src="@{images/subscribe/cloud.svg}">Скачивание треков в облако
                            </li>
                            <li style="background: rgba(116, 102, 255, 0.08);"><img
                                    th:src="@{images/subscribe/settings.svg}">Расширенные настройки
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="line"></div>

                <div class="subscribe-details-plan" data-aos="fade-up" data-aos-delay="200" data-aos-duration="600">
                    <div class="details-plan-left">
                        <div class="details-plan-img">
                            <img th:src="@{images/details-plan-img-3.png}">
                        </div>
                        <div class="details-plan-left-wrapper">
                            <h2 class="details-plan-title" style="color: #D523B7">Эклектик</h2>
                            <ul class="">
                                <li class="li_pink">Доступ к музыкальным новинкам раньше</li>
                                <li class="li_pink">Тайминги</li>
                                <li class="li_pink">Перевод треков на все языки мира</li>
                                <li class="li_pink">Функция “Случайная песня”</li>
                                <li class="li_pink">Функция “Музыкальная терапия”</li>
                            </ul>
                        </div>
                    </div>
                    <div class="details-plan-right">
                        <h2 class="details-plan-title" style="color: #D523B7">Для тех кто ценит, понимает, и живёт в
                            музыке</h2>
                        <p class="details-plan-description">Исследуйте мир музыки с подпиской "Эклектик". Получите
                            доступ к самым свежим музыкальным новинкам до остальных, настройте тайминги и релизы под
                            свои предпочтения. Переводите треки на любой язык мира для погружения в разнообразие
                            музыкальной культуры. Открывайте новые грани звука с функцией "Случайная песня" и
                            наслаждайтесь музыкальной терапией для улучшения настроения и благополучия. Создайте свой
                            уникальный музыкальный мир с подпиской "Эклектик".</p>
                        <ul class="details-plan-advantages" style="color: #D523B7">
                            <li style="background: rgba(213, 35, 183, 0.08);;"><img
                                    th:src="@{images/subscribe/moon.svg}">Тайминг сна
                            </li>
                            <li style="background: rgba(213, 35, 183, 0.08);;"><img
                                    th:src="@{images/subscribe/camera.svg}">Закрытые истории артистов
                            </li>
                            <li style="background: rgba(213, 35, 183, 0.08);;"><img
                                    th:src="@{images/subscribe/layer.svg}">Различные жанры
                            </li>
                            <li style="background: rgba(213, 35, 183, 0.08);;"><img
                                    th:src="@{images/subscribe/gift.svg}">Доступ к еженедельным розыгрышам
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-plan">
    <div class="container">
        <h2 class="title">Планы</h2>
        <div class="plan-wrapper">
            <div class="plan-block" data-aos="fade-down" data-aos-delay="200" data-aos-duration="400">
                <div class="decor-circle-1" style="background: rgb(56 252 99 / 78%);"></div>
                <div class="decor-circle-2" style="background: rgb(56 252 99 / 78%);"></div>
                <img class="decor-noise" src="/images/subscribe/noise.svg">
                <div class="plan-title">
                    <h2>Слушатель</h2>
                    <img src="/images/icon-subs-plan-1.svg" alt="decor-plan">
                </div>
                <p class="plan-description">Для тех кто хочет просто послушать музыку</p>
                <div class="line"></div>
                <ul class="plan-advantages">
                    <li>Прослушивание Треков / Подкастов / Книг</li>
                    <li>Новости, доступ к будущим планам</li>
                    <li>Личный кабинет пользователя</li>
                    <li>Новый дизайн нашего сервиса</li>
                    <li>Доступна мобильная версия</li>
                </ul>
                <div class="line"></div>
                <div class="plan-buy">
                    <span class="plan-buy-cost">Бесплатно</span>
                    <button class="plan-buy-btn">Используется</button>
                </div>
            </div>

            <div class="plan-block" data-aos="fade-down" data-aos-delay="600" data-aos-duration="400">
                <div class="decor-circle-1" style="background: rgb(209 37 180 / 78%);"></div>
                <div class="decor-circle-2" style="background: rgb(209 37 180 / 78%);"></div>
                <img class="decor-noise" src="/images/subscribe/noise.svg">
                <div class="plan-title">
                    <h2>Эклектик</h2>
                    <img src="/images/icon-subs-plan-2.svg" alt="decor-plan">
                </div>
                <p class="plan-description">Для тех кто любит слушать творчество</p>
                <div class="line"></div>
                <ul class="plan-advantages">
                    <li>Доступ к музыкальным новинкам раньше, чем на других площадках</li>
                    <li>Тайминги</li>
                    <li>Перевод треков на все языки мира</li>
                    <li>Функция “Случайная песня”</li>
                    <li>Функция “Музыкальная терапия”</li>
                </ul>
                <div class="line"></div>
                <div class="plan-buy">
                    <span class="plan-buy-cost">399.99 Рублей  / Месяц</span>
                    <button class="plan-buy-btn" style=" background: #D523B7; color: var(--white-text)">Купить</button>
                </div>
            </div>

            <div class="plan-block" data-aos="fade-down" data-aos-delay="800" data-aos-duration="400">
                <div class="decor-circle-1" style="background: rgb(72 60 236 / 78%);"></div>
                <div class="decor-circle-2" style="background: rgb(72 60 236 / 78%);"></div>
                <img class="decor-noise" src="/images/subscribe/noise.svg">
                <div class="plan-title">
                    <h2>Меломан</h2>
                    <img src="/images/icon-subs-plan-3.svg" alt="decor-plan">
                </div>
                <p class="plan-description">Для тех кто ценит, понимает, и живёт в музыке</p>
                <div class="line"></div>
                <ul class="plan-advantages">
                    <li>Доступ к коллекции</li>
                    <li>Доступ ко всем трекам мира</li>
                    <li>Скачивать музыку, и слушать оффлайн</li>
                    <li>Регистрация 3 аккаунтов на одной почте</li>
                    <li>Высокое качество аудио (wav-формат)</li>
                </ul>
                <div class="line"></div>
                <div class="plan-buy">
                    <span class="plan-buy-cost">199.99 Рублей  / Месяц</span>
                    <button class="plan-buy-btn" style="background: #4A39F2; color: var(--white-text)">Купить</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-advantages">
    <div class="container">
        <h2 class="title">Преимущества в отличие от других сервисов</h2>
        <div class="advantages-wrapper">
            <div class="advantage-block" style="background: #00A542;" data-aos="fade" data-aos-delay="600"
                 data-aos-duration="600">
                <div class="advantage-title">
                    <h3>Простота</h3>
                    <img th:src="@{/images/li_hand-1.svg}" alt="decor">
                </div>
                <p class="advantage-info">
                    По нашему и большинства мнению наш сервис интуитивно понятен и прост как в дизайне, так и
                    функционально. Нужно послушать трек? Слушай! Хочешь посмотреть артистов? Смотри. Без всякой рекламы
                    и надоедливых проплаченных баннеров.
                </p>
                <button class="advantage-btn">Послушать треки</button>
            </div>

            <div class="advantage-block" style="background: #4A39F2;" data-aos="fade" data-aos-delay="800"
                 data-aos-duration="800">
                <div class="advantage-title">
                    <h3>Скорость</h3>
                    <img th:src="@{/images/li_gauge-2.svg}" alt="decor">
                </div>
                <p class="advantage-info">
                    У нас не только самый быстрый программист сидит делает работу, но и сам сервис прекрасно и быстро
                    справляется со своими задачами. Все распределено так, чтобы вы оставались на нашей странице и
                    слушали
                    волну, без всяких задержек, и реклам.
                </p>
                <button class="advantage-btn">Узнать скорость?</button>
            </div>

            <div class="advantage-block" style="background: #C330AB;" data-aos="fade" data-aos-delay="1200"
                 data-aos-duration="1000">
                <div class="advantage-title">
                    <h3>Качество</h3>
                    <img th:src="@{/images/li_grab-3.svg}" alt="decor">
                </div>
                <p class="advantage-info">
                    При создании сервиса мы сразу отказались использование mp3 формата и начали использовать wav и flac.
                    Это высшее качество аудио без какого либо сжатия и лишней компрессии. При этом потребление вашего
                    трафика остается таким же незаметным и медленным.
                </p>
                <button class="advantage-btn">Удостоверится в качестве</button>
            </div>

            <div class="advantage-block" style="background: #CE9032;" data-aos="fade" data-aos-delay="1400"
                 data-aos-duration="1200">
                <div class="advantage-title">
                    <h3>Современность</h3>
                    <img th:src="@{/images/li_hand-metal-4.svg}" alt="decor">
                </div>
                <p class="advantage-info">
                    Мы очень современные и крутые. Не только, потому что у нас работают молодые люди, но и потому что мы
                    следим за трендами, и прекрасно знаем что вы любите слушать. Но, а также каждую неделю мы
                    разыгрываем
                    Iphone 14 pro, apple watch и ipad. И можно гарантировано выиграть подарок.
                </p>
                <button class="advantage-btn">На страницу розыгрыша!</button>
            </div>
        </div>
    </div>
</section>

<section class="section-progress">
    <div class="container">
        <h2 class="title">Наши достижения</h2>
        <div class="progress__wrapper">
            <div class="progress_inner">
                <div class="progress-block">
                    <div class="progress-block-left">
                        <h5>Всего пользователей:</h5>
                        <p>Количество пользователей всего</p>
                    </div>
                    <div class="progress-block-right">
                        <img th:src="@{/images/subscribe/progress-block-1.svg}" alt="image">
                    </div>
                </div>

                <div class="progress-block">
                    <div class="progress-block-left">
                        <h5>Всего Прибыль сервиса за месяц</h5>
                        <p>-128 рублей</p>
                    </div>
                    <div class="progress-block-right">
                        <img th:src="@{/images/subscribe/progress-block-2.svg}" alt="image">
                    </div>
                </div>
            </div>

            <div class="progress_inner">
                <div class="progress-block">
                    <div class="progress-block-left">
                        <h5>Количество артистов:</h5>
                        <p>Количество артистов всего</p>
                    </div>
                    <div class="progress-block-right">
                        <img th:src="@{/images/subscribe/progress-block-3.svg}" alt="image">
                    </div>
                </div>

                <div class="progress-block">
                    <div class="progress-block-left">
                        <h5>Новые пользователи в месяц</h5>
                        <p>584 Человека</p>
                    </div>
                    <div class="progress-block-right">
                        <img th:src="@{/images/subscribe/progress-block-4.svg}" alt="image">
                    </div>
                </div>
            </div>

            <div class="progress_inner">
                <div class="progress-block-big">
                    <h5>Популярная страна прослушивания</h5>
                    <div class="progress-block-bottom">
                        <img th:src="@{/images/subscribe/progress-block-5.svg}" alt="image">
                    </div>
                </div>
            </div>

            <div class="progress_inner">
                <div class="progress-block-small">
                    <h5>Придумаем потом что здесь будет</h5>
                    <div class="progress-block-bottom">
                        <img th:src="@{/images/subscribe/progress-block-6.svg}" alt="image">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section style="margin: 100px;"></section>

</body>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>AOS.init();</script>
</html>