<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel=" stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/subscribe.css">
    <link rel="icon" href="../images/logo.svg">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <title>Musical - Подписка</title>
</head>

<body>
<div class="wrapper">
    <div class="headphones-img-wrapper">
        <img class="main-img-top" src="/images/subs.png">
    </div>

    <header class="header" th:include="components/header :: header"></header>

    <section class="one-page">
        <div class="container">
            <img class="onepage_logo" src="/images/MUSICAL-LOGO.svg">
            <span class="onepage_span">New</span>
            <h2 class="onepage_title">Musical <span style="background: linear-gradient(92deg, #FFF 44.53%, #CC7DE8 74.96%, #DA138A 105.45%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;">Exclusive</span></h2>
            <div class="onepage_blocks">
                <div class="onepage_block">
                    <h5 class="onepage-check">> 1000</h5>
                    <span>Пользователей</span>
                </div>
                <div class="onepage_block">
                    <h5 class="onepage-check">> 50 млн</h5>
                    <span>Релизов</span>
                </div>
            </div>
            <button class="onepage_btn">Узнать преимущества</button>
        </div>
    </section>
</div>
<section class="section-plan">
    <div class="container">
        <h2 class="title">Планы</h2>
        <div class="plan-wrapper">
            <div class="plan-block">
                <div class="plan-title">
                    <h2>Слушатель</h2>
                    <img src="/images/icon-subs-plan-1.svg" alt="decor-plan">
                </div>
                <p class="plan-description">Для тех кто хочет просто послушать музыку</p>
                <div class="line"></div>
                <ul class="plan-advantages">
                    <li>Прослушивание Треков / Подкастов / Книг</li>
                    <li>Новости, доступ к будущим планам</li>
                    <li>Личный кабинет пользователя</li>
                    <li>Новый дизайн нашего сервиса</li>
                    <li>Доступна мобильная версия</li>
                </ul>
                <div class="line"></div>
                <div class="plan-buy">
                    <span class="plan-buy-cost">Бесплатно</span>
                    <button class="plan-buy-btn">Используется</button>
                </div>
            </div>

            <div class="plan-block">
                <div class="plan-title">
                    <h2>Меломан</h2>
                    <img src="/images/icon-subs-plan-2.svg" alt="decor-plan">
                </div>
                <p class="plan-description">Для тех кто любит слушать творчество</p>
                <div class="line"></div>
                <ul class="plan-advantages">
                    <li>Доступ к коллекции</li>
                    <li>Доступ ко всем трекам мира</li>
                    <li>Скачивать музыку, и слушать оффлайн</li>
                    <li>Регистрация 3 аккаунтов на одной почте</li>
                    <li>Высокое качество аудио (wav-формат)</li>
                </ul>
                <div class="line"></div>
                <div class="plan-buy">
                    <span class="plan-buy-cost">199.99 Рублей  / Месяц</span>
                    <button class="plan-buy-btn" style="background: #4A39F2;">Купить</button>
                </div>
            </div>

            <div class="plan-block">
                <div class="plan-title">
                    <h2>Слушатель</h2>
                    <img src="/images/icon-subs-plan-3.svg" alt="decor-plan">
                </div>
                <p class="plan-description">Для тех кто ценит, понимает, и живёт в музыке</p>
                <div class="line"></div>
                <ul class="plan-advantages">
                    <li>Доступ к музыкальным новинкам раньше, чем на других площадках</li>
                    <li>Тайминги</li>
                    <li>Перевод треков на все языки мира</li>
                    <li>Функция “Случайная песня”</li>
                    <li>Функция “Музыкальная терапия”</li>
                </ul>
                <div class="line"></div>
                <div class="plan-buy">
                    <span class="plan-buy-cost">399.99 Рублей  / Месяц</span>
                    <button class="plan-buy-btn" style="background: #D523B7;">Купить</button>
                </div>
            </div>

            <div class="plan-block">
                <div class="plan-title">
                    <h2>Слушатель</h2>
                    <img src="/images/icon-subs-plan-new.svg" alt="decor-plan">
                </div>
                <p class="plan-description">Для семьи - для всех!</p>
                <div class="line"></div>
                <ul class="plan-advantages">
                    <li>Создание персональных плейлистов</li>
                    <li>Доступен радио-контент</li>
                    <li>Возможность слушать музыку на нескольких устройствах сразу</li>
                    <li>Синхронизированный режим</li>
                    <li>Поддержка Apple CarPlay и Android Auto</li>
                </ul>
                <div class="line"></div>
                <div class="plan-buy">
                    <span class="plan-buy-cost">599.99 Рублей  / Месяц</span>
                    <button class="plan-buy-btn" style="background: #E6E95B; color: #0C0C0C">Купить</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-business">
    <div class="container">
        <div class="business_wrapper">
            <div class="business_block">
                <div class="business_block-title">
                    <h2>Расширяем бизнес</h2>
                    <p>Музыка везде - На планшетах, телефонах, смарт-часах, колонах!</p>
                    <img src="/images/business-img-title.png" width="545" height="319" style="border-radius: 30px">
                </div>
                <img src="/images/business-img-1.png" width="545" height="509" style="border-radius: 30px">
            </div>
            <div class="business_block">
                <img src="/images/business-img-2.png" width="545" height="850" style="border-radius: 30px">
            </div>
            <div class="business_block">
                <img src="/images/business-img-3.png" width="545" height="414" style="border-radius: 30px">
                <img src="/images/business-img-4.png" width="545" height="414" style="border-radius: 30px">
            </div>
        </div>
    </div>
</section>

<section class="section-advantages">
    <div class="container">
        <h2 class="title">Преимущества в отличие от других сервисов</h2>
        <div class="advantages-wrapper">
            <div class="advantage-block" style="background: #00A542;">
                <div class="advantage-title">
                    <h3>Простота</h3>
                    <img th:src="@{/images/li_hand-1.svg}" alt="decor">
                </div>
                <p class="advantage-info">
                    По нашему и большинства мнению наш сервис интуитивно понятен и прост как в дизайне, так и
                    функционально. Нужно послушать трек? Слушай! Хочешь посмотреть артистов? Смотри. Без всякой рекламы
                    и надоедливых проплаченных баннеров.
                </p>
                <button class="advantage-btn">Послушать треки</button>
            </div>

            <div class="advantage-block" style="background: #4A39F2;">
                <div class="advantage-title">
                    <h3>Скорость</h3>
                    <img th:src="@{/images/li_gauge-2.svg}" alt="decor">
                </div>
                <p class="advantage-info">
                    У нас не только самый быстрый программист сидит делает работу, но и сам сервис прекрасно и быстро
                    справляется со своими задачами. Все распределено так, чтобы вы оставались на нашей странице и
                    слушали
                    волну, без всяких задержек, и реклам.
                </p>
                <button class="advantage-btn">Узнать скорость?</button>
            </div>

            <div class="advantage-block" style="background: #C330AB;">
                <div class="advantage-title">
                    <h3>Качество</h3>
                    <img th:src="@{/images/li_grab-3.svg}" alt="decor">
                </div>
                <p class="advantage-info">
                    При создании сервиса мы сразу отказались использование mp3 формата и начали использовать wav и flac.
                    Это высшее качество аудио без какого либо сжатия и лишней компрессии. При этом потребление вашего
                    трафика остается таким же незаметным и медленным.
                </p>
                <button class="advantage-btn">Удостоверится в качестве</button>
            </div>

            <div class="advantage-block" style="background: #CE9032;">
                <div class="advantage-title">
                    <h3>Современность</h3>
                    <img th:src="@{/images/li_hand-metal-4.svg}" alt="decor">
                </div>
                <p class="advantage-info">
                    Мы очень современные и крутые. Не только, потому что у нас работают молодые люди, но и потому что мы
                    следим за трендами, и прекрасно знаем что вы любите слушать. Но, а также каждую неделю мы
                    разыгрываем
                    Iphone 14 pro, apple watch и ipad. И можно гарантировано выиграть подарок.
                </p>
                <button class="advantage-btn">На страницу розыгрыша!</button>
            </div>
        </div>
    </div>
</section>


<section class="section-progress">
    <div class="container">
        <h2 class="title">Наши достижения</h2>
        <div class="progress__wrapper">

        </div>
    </div>
</section>

</body>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="../js/swiper-for-subs.js"></script>

</html>