@import '../components/fonts.css';

.modal {
    position: fixed;
    max-width: 900px;
    max-height: 800px;
    overflow-y: scroll;
    width: 100%;
    margin: 0 auto;
    background-color: #252525;
    padding: 50px 40px;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -30%);
    transition: opacity 0.3s ease, transform 0.3s ease, border .5s;
}

.modal::-webkit-scrollbar {
    width: 0px;
}

.modal--active {
    transform: translate(-50%, -55%);
    opacity: 1;
    z-index: 200;
    pointer-events: auto;
}

.modal__close {
    position: absolute;
    top: 30px;
    right: 40px;
}

.modal__close:hover svg path {
    stroke: #8478ff;
}

.modal__close svg path {
    -webkit-transition: stroke .3s;
    -o-transition: stroke .3s;
    transition: stroke .3s;
}

.modal__title {
    font-size: 28px;
    font-weight: 700;
    color: #8478ff;
    margin-bottom: 40px;
}

.modal__list {
    margin-bottom: 40px;
}

.modal__item:not(:last-child) {
    margin-bottom: 40px;
}

.modal__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.modal__btn {
    font-family: 'Nunito';
    font-weight: 600;
    width: 50%;
    padding: 15px;
    background-color: #8478ff;
    color: var(--white);
    font-size: 16px;
    border: 1px solid transparent;
    transition: all .4s;
    border-radius: 5px;
}

/* .modal__btn:hover {
    border-color: #8478ff;
    background-color: transparent;
    color: #f4f4f4;
} */

.modal__text {
    margin-bottom: 30px;
}

.modal__text span {
    color: #8478ff;
}

.modal {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
}

